<h1>Synopsis<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#IPYNB-Basics" data-toc-modified-id="IPYNB-Basics-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>IPYNB Basics</a></span><ul class="toc-item"><li><span><a href="#Shell-CMD" data-toc-modified-id="Shell-CMD-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Shell CMD</a></span></li><li><span><a href="#Jupyter-Tips" data-toc-modified-id="Jupyter-Tips-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Jupyter Tips</a></span></li></ul></li><li><span><a href="#Data-Structure" data-toc-modified-id="Data-Structure-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Structure</a></span><ul class="toc-item"><li><span><a href="#Container-Sequences" data-toc-modified-id="Container-Sequences-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Container Sequences</a></span></li><li><span><a href="#Collection-module-(advanced-container)" data-toc-modified-id="Collection-module-(advanced-container)-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Collection module (advanced container)</a></span><ul class="toc-item"><li><span><a href="#CASE:-Parse-Datefile" data-toc-modified-id="CASE:-Parse-Datefile-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>CASE: Parse Datefile</a></span></li></ul></li></ul></li><li><span><a href="#Miscellaneous-NP,-PD" data-toc-modified-id="Miscellaneous-NP,-PD-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Miscellaneous NP, PD</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Two-types-of-args-and-*kwargs" data-toc-modified-id="Two-types-of-args-and-*kwargs-3.0.1"><span class="toc-item-num">3.0.1&nbsp;&nbsp;</span>Two types of <em>args and *</em>kwargs</a></span></li><li><span><a href="#Map-Function" data-toc-modified-id="Map-Function-3.0.2"><span class="toc-item-num">3.0.2&nbsp;&nbsp;</span>Map Function</a></span></li><li><span><a href="#Filter-func" data-toc-modified-id="Filter-func-3.0.3"><span class="toc-item-num">3.0.3&nbsp;&nbsp;</span>Filter func</a></span></li><li><span><a href="#Reduce-from-functools" data-toc-modified-id="Reduce-from-functools-3.0.4"><span class="toc-item-num">3.0.4&nbsp;&nbsp;</span>Reduce from functools</a></span></li><li><span><a href="#Error-Control-(try,-except,-assert,-final)" data-toc-modified-id="Error-Control-(try,-except,-assert,-final)-3.0.5"><span class="toc-item-num">3.0.5&nbsp;&nbsp;</span>Error Control (try, except, assert, final)</a></span></li><li><span><a href="#Iterable" data-toc-modified-id="Iterable-3.0.6"><span class="toc-item-num">3.0.6&nbsp;&nbsp;</span>Iterable</a></span></li><li><span><a href="#CASE:-counting-example-using-tweet" data-toc-modified-id="CASE:-counting-example-using-tweet-3.0.7"><span class="toc-item-num">3.0.7&nbsp;&nbsp;</span>CASE: counting example using tweet</a></span></li><li><span><a href="#List-Comprehension" data-toc-modified-id="List-Comprehension-3.0.8"><span class="toc-item-num">3.0.8&nbsp;&nbsp;</span>List Comprehension</a></span></li><li><span><a href="#Context-Manager,-Res-allocation-(connection)" data-toc-modified-id="Context-Manager,-Res-allocation-(connection)-3.0.9"><span class="toc-item-num">3.0.9&nbsp;&nbsp;</span>Context Manager, Res allocation (connection)</a></span></li><li><span><a href="#DateFrame-in-Chunk" data-toc-modified-id="DateFrame-in-Chunk-3.0.10"><span class="toc-item-num">3.0.10&nbsp;&nbsp;</span>DateFrame in Chunk</a></span></li></ul></li></ul></li><li><span><a href="#Numpy" data-toc-modified-id="Numpy-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Numpy</a></span></li><li><span><a href="#PANDAS" data-toc-modified-id="PANDAS-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>PANDAS</a></span><ul class="toc-item"><li><span><a href="#Basic" data-toc-modified-id="Basic-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Basic</a></span></li></ul></li><li><span><a href="#File-IO" data-toc-modified-id="File-IO-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>File IO</a></span></li><li><span><a href="#Wrangling-(clean,-transform,-merge,-reshape)" data-toc-modified-id="Wrangling-(clean,-transform,-merge,-reshape)-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Wrangling (clean, transform, merge, reshape)</a></span></li><li><span><a href="#TIME-SERIES" data-toc-modified-id="TIME-SERIES-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>TIME SERIES</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Datetime-forsmat-specs" data-toc-modified-id="Datetime-forsmat-specs-8.0.1"><span class="toc-item-num">8.0.1&nbsp;&nbsp;</span>Datetime forsmat specs</a></span></li><li><span><a href="#Locale-spec-formating" data-toc-modified-id="Locale-spec-formating-8.0.2"><span class="toc-item-num">8.0.2&nbsp;&nbsp;</span>Locale-spec formating</a></span></li><li><span><a href="#Base-Time-Series-Frequencies" data-toc-modified-id="Base-Time-Series-Frequencies-8.0.3"><span class="toc-item-num">8.0.3&nbsp;&nbsp;</span>Base Time Series Frequencies</a></span></li><li><span><a href="#Resample-Method-Arguments" data-toc-modified-id="Resample-Method-Arguments-8.0.4"><span class="toc-item-num">8.0.4&nbsp;&nbsp;</span>Resample Method Arguments</a></span></li><li><span><a href="#Moving-Window-and-Exp-weighted-func" data-toc-modified-id="Moving-Window-and-Exp-weighted-func-8.0.5"><span class="toc-item-num">8.0.5&nbsp;&nbsp;</span>Moving Window and Exp weighted func</a></span></li><li><span><a href="#Other-Time-Series-Examples-in-FinEcon" data-toc-modified-id="Other-Time-Series-Examples-in-FinEcon-8.0.6"><span class="toc-item-num">8.0.6&nbsp;&nbsp;</span>Other Time Series Examples in FinEcon</a></span></li></ul></li></ul></li><li><span><a href="#Advanced-NumPy" data-toc-modified-id="Advanced-NumPy-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Advanced NumPy</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Performance-Tips" data-toc-modified-id="Performance-Tips-9.0.1"><span class="toc-item-num">9.0.1&nbsp;&nbsp;</span>Performance Tips</a></span></li><li><span><a href="#Cython" data-toc-modified-id="Cython-9.0.2"><span class="toc-item-num">9.0.2&nbsp;&nbsp;</span>Cython</a></span></li></ul></li></ul></li></ul></div>

# IPYNB Basics

## Shell CMD
! + CMD or just CMD for common ones:
- !pip version
- pwd, ls, whos, lsmagic, env, 
%% special block code
- %%bash \n for i in a b c; \n do 
- %%HTML \n `<a id='asdf' class='gie-single' href='url' target='_blank' style='color:#a7a7a7;text-decoratin:none;font-weight:normal !important;border:none;display:inline-block;'>text</a><script>window.gie=window.git||fucntion(c){(...</script>`
    
## Jupyter Tips
- MAGIC: IPython kernel
- %run python code, %load, %store, %prun - time running func, %pdb - debugging. %config InlineBackend.figure_format='retina'
- Other codes: %%bash, %%ruby, %%r
- Running R and Python in the same notebook Pip install rpy2 %load_ext rpy2.ipython df = pd.DateFrame( {‘Letter’: [‘a’,…], ‘X’: [] } ) %%R -I df ggplot(data=df) + gemo_point(aes(x=X, y=Y)

In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%config InlineBackend.figure_format = 'retina'

In [4]:
from IPython.display import HTML
from IPython.display import Markdown
from IPython.display import display

display(HTML("<h1>Multiple</h1>"))
display(HTML("<p>Display Elements</p>"))
display(Markdown('**awesome**'))

from IPython.display import Image

Image(url='https://avatars2.githubusercontent.com/u/12401040?v=3&s=200')

**awesome**

In [9]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

# Data Structure

## Container Sequences
- Lists
    - Combine: `+ .extend() .index() .pop(position) sorted()`
- Tuple
    - ZIP and UNPACK
    - `enumerate(): for idx, item in enumerate(tuple)`
    - ',' COMMA creates Tuple
- Set for unordered, unique data
    - `set()` retain only unique items
    - `.add() .update() discard() pop() union() intersection() difference()`
- Dictionary
    - "nestable" dict as val in dict
    - tuple2dict `for key, val in tuple: name[key] = val`
    - safely find key `.get('key', 'name for unfound')
    - `.keys() dict[key].update(tuple of key-val) del or dict.pop(key)`
    - `for key, val in dict.items(), if key in dict`
- CSV
    - `import csv` `open(filename, 'r')
    - `for row in csv.reader(file)`
    - dict2csv `for row in csv.DictReader(file)`

## Collection module (advanced container)
- Counter
    - `from collections import Counter`
    - `count = Counter(dict)` `count[key]` `count.most_common(3)`
- Preload DICT defaultdict
    - `defaultdict = defaultdict(list)` `for key, val in defaultdict: defaultdict[key].append(val)`
    - `for key in defaultdict: if key.get('name'): defaultdict['name'] += 1
```python
					# Create an empty dictionary: ridership
					ridership = {}

					# Iterate over the entries
					for date, stop, riders in entries:
					    # Check to see if date is already in the dictionary
					    if date not in ridership:
					        # Create an empty list for any missing date
					        ridership[date] = []
					    # Append the stop and riders as a tuple to the date keys list
					    ridership[date].append((stop, riders))
					    
					# Print the ridership for '03/09/2016'
					print(ridership['03/09/2016'])

					# Import defaultdict
					from collections import defaultdict

					# Create a defaultdict with a default type of list: ridership
					ridership = defaultdict(list)

					# Iterate over the entries
					for date, stop, riders in entries:
					    # Use the stop as the key of ridership and append the riders to its value
					    ridership[stop].append(riders)
					    
					# Print the first 10 items of the ridership dictionary
					print(list(ridership.items())[:10])
```

- NamedTuple
    - `DateDetails = namedtuple('DateDetails', ['date', 'stop', 'riders'])`
```python
	# Create the empty list: labeled_entries
	labeled_entries = []

	# Iterate over the entries
	for date, stop, riders in entries:
	    # Append a new DateDetails namedtuple instance for each entry to labeled_entries
	    labeled_entries.append(DateDetails(date, stop, riders))
	    
	# Print the first 5 items in labeled_entries
	print(labeled_entries[:5])
	# Iterate over the first twenty items in labeled_entries
	for item in labeled_entries[:20]:
	    # Print each item's stop
	    print(item.stop)

	    # Print each item's date
	    print(item.date)

	    # Print each item's riders
	    print(item.riders)
```

- DateTime
```python
		# Import the datetime object from datetime
		from datetime import datetime

		# Iterate over the dates_list 
		for date_str in dates_list:
		    # Convert each date to a datetime object: date_dt
		    date_dt = datetime.strptime(date_str, '%m/%d/%Y')
		    
		    # Print each date_dt
		    print(date_dt)
		# Loop over the first 10 items of the datetimes_list
		for item in datetimes_list[:10]:
		    # Print out the record as a string in the format of 'MM/DD/YYYY'
		    print(item.strftime('%m/%d/%Y'))
		    
		    # Print out the record as an ISO standard string
		    print(item.isoformat())
```

- Timezone

```python
		# Create a defaultdict of an integer: monthly_total_rides
		monthly_total_rides = defaultdict(int)

		# Loop over the list daily_summaries
		for daily_summary in daily_summaries:
		    # Convert the service_date to a datetime object
		    service_datetime = datetime.strptime(daily_summary[0], '%m/%d/%Y')

		    # Add the total rides to the current amount for the month
		    monthly_total_rides[service_datetime.month] += int(daily_summary[4])
		    
		# Print monthly_total_rides
		print(monthly_total_rides)

		# Import datetime from the datetime module
		from datetime import datetime

		# Compute the local datetime: local_dt
		local_dt = datetime.now()

		# Print the local datetime
		print(local_dt)

		# Compute the UTC datetime: utc_dt
		utc_dt = datetime.utcnow()

		# Print the UTC datetime
		print(utc_dt)

		# Create a Timezone object for Chicago
		chicago_usa_tz = timezone('US/Central')

		# Create a Timezone object for New York
		ny_usa_tz = timezone('US/Eastern')

		# Iterate over the daily_summaries list
		for orig_dt, ridership in daily_summaries:

		    # Make the orig_dt timezone "aware" for Chicago
		    chicago_dt = orig_dt.replace(tzinfo=chicago_usa_tz)
		    
		    # Convert chicago_dt to the New York Timezone
		    ny_dt = chicago_dt.astimezone(ny_usa_tz)
		    
		    # Print the chicago_dt, ny_dt, and ridership
		    print('Chicago: %s, NY: %s, Ridership: %s' % (chicago_dt, ny_dt, ridership))
```
            
- Time Change

```python
		# Import timedelta from the datetime module
		from datetime import timedelta

		# Build a timedelta of 30 days: glanceback
		glanceback = timedelta(days=30)

		# Iterate over the review_dates as date
		for date in review_dates:
		    # Calculate the date 30 days back: prior_period_dt
		    prior_period_dt = date - glanceback
		    
		    # Print the review_date, day_type and total_ridership
		    print('Date: %s, Type: %s, Total Ridership: %s' %
		         (date, 
		          daily_summaries[date]['day_type'], 
		          daily_summaries[date]['total_ridership']))

		    # Print the prior_period_dt, day_type and total_ridership
		    print('Date: %s, Type: %s, Total Ridership: %s' %
		         (prior_period_dt, 
		          daily_summaries[prior_period_dt]['day_type'], 
		          daily_summaries[prior_period_dt]['total_ridership']))

		# Iterate over the date_ranges
		for start_date, end_date in date_ranges:
		    # Print the End and Start Date
		    print(end_date, start_date)
		    # Print the difference between each end and start date
		    print(end_date - start_date)


		# Import the pendulum module
		import pendulum

		# Create a now datetime for Tokyo: tokyo_dt
		tokyo_dt = pendulum.now('Asia/Tokyo')

		# Covert the tokyo_dt to Los Angeles: la_dt
		la_dt = tokyo_dt.in_timezone('America/Los_Angeles')

		# Print the ISO 8601 string of la_dt
		print(la_dt.to_iso8601_string())

		# Iterate over date_ranges
		for start_date, end_date in date_ranges:

		    # Convert the start_date string to a pendulum date: start_dt 
		    start_dt = pendulum.parse(start_date, strict = False)
		    
		    # Convert the end_date string to a pendulum date: end_dt 
		    end_dt = pendulum.parse(end_date, strict = False)
		    
		    # Print the End and Start Date
		    print(end_dt, start_dt)
		    
		    # Calculate the difference between end_dt and start_dt: diff_period
		    diff_period = end_dt - start_dt
		    
		    # Print the difference in days
		    print(diff_period.in_days())
```

### CASE: Parse Datefile


```python
csvfile = open('file.csv', 'r')
data = []

for row in csv.reader(csvfile):
    data.append(
        (row[0], row[2], row[4], row[5])
    )

data.pop(0) # remove first element

data_month = Counter()

for row in data:
    date = datetime.strptime(row[0], '%m/%d/%Y %I:%M:%S %p')
        # convert first element of each into Datetime object
    data_month[date.month] += 1 
        # raise counter for the month of row by one

data_month.most_common(3) # top 3 common months

location_month = defaultdict(list)

for row in data:
    date = datetime.strptime(row[0], '%m/%d/%Y %I:%M:%S %p')
    
    if date.year == 2016:
        location_month[date.month].append(row[4])
            # set dict key to month adding location to value

for month, location in location_month.items():
    location_count = Counter(location)
    print(month)
    print(location_count.most_common(5))

for row in csv.DictReader(csvfile):
    dictrict = row.pop('District')
    data_district[district].append(row)
        # append rest of data to list for proper disctrict in data by district
        
for district, crime in data_district.items():
    year_count = Counter()
    
    for crime in crimes:
        if crime['Arrest'] == 'true':
            year = datetime.strptime(crime['Date'], '%m/%d/%Y %I:%M:%S %p').year
                # convert Date to datetime and get year
            year_count[year] += 1

n_state = set(crime_block['001XX N STATE ST'])
    # unique list of crimes for first block
crime_diff = n_state1.difference(n_state2)
```

# Miscellaneous NP, PD

In [11]:
import numpy as np
import pandas as pd

np_arange = np.arange(0, 10, 2)
np_arange

np_arange1 = np.arange(6)
np_arange1

np_linspace = np.linspace(0, 10, 6)
np_linspace

np_arange1.shape
np_arange1.resize(2,3)
np_arange1

print(np_arange1.ravel())

print(np_arange1.transpose())

array([0, 2, 4, 6, 8])

array([0, 1, 2, 3, 4, 5])

array([ 0.,  2.,  4.,  6.,  8., 10.])

(6,)

array([[0, 1, 2],
       [3, 4, 5]])

[0 1 2 3 4 5]
[[0 3]
 [1 4]
 [2 5]]

In [12]:
# alter global object within functions
global_val = 10

def square(value):
    global global_val # call global val
    global_val = global_val*2
    return global_val

print(global_val)

# nested function or recursive functions
def echo(n):
    """returning inner echo"""
    def inner_echo(word1):
        echo_word = word1*n
        return echo_word
    return inner_echo
twice = echo(2)
thrice = echo(3)
print(twice('hello'), thrice('hello'))

10
hellohello hellohellohello

### Two types of *args and **kwargs 
```python
def count_entries(df, *args):
    # Return a dictionary with counts of
    # occurrences as value for each key.
    cols_count = {}
    for col_name in args:
        col = df[col_name]
        for entry in col:
            if entry in cols_count.keys():
                cols_count[entry] += 1
            else:
                cols_count[entry] = 1
    return cols_count
result1 = count_entries(tweets_df, 'lang')

# Call count_entries(): result2
result2 = count_entries(tweets_df, 'lang', 'source')
def report_status(**kwargs):
    # Print out the status of a movie character.
    for key, val in kwargs.items():
        print(key + ": " + val)
report_status(name='luke', affiliation='jedi')
```

### Map Function
```python
spells = ['protego', 'accio', 'expecto patronum', 'legilmnes']
shout_spells = map(lambda item: item+'!!!', spells)
#     mapping lambda function onto object 
shout_spells_list = list(shout_spells)
```

### Filter func
```python
fellowship = ['frodo', 'samwise', 'merry', 'aragorn']

result = filter(lambda member: len(member) > 6, fellowship)
    # filtering func onto object
print(result)
    # beware of object form of map and filter, to convert into list
result_list = list(result)

# example filtering tweets
result = filter(lambda x: x[0:2] == 'RT', tweets_df['text'])
result_list = list(result)
for tweet in result_list: print(tweet)
```

### Reduce from functools
```python
from functools import reduce

stark = ['robb', 'sansa', 'arya', 'eddard', 'jon']
result = reduce(lambda item1, item2: item1+item2, stark)
```

### Error Control (try, except, assert, final)
```python
def shout_echo(word1, echo = 1):
    echo_word = str()
    shout_word = str()
    try:
        echo_word = word1 * echo
        shout_word = echo_word + '!!!'
    except:
        print('word1 must be a string, and echo an integer.')
    return shout_word

shout_echo('particle', echo='accelerator')

# alternative use of if
# add:  if echo < 0: raise ValueError('echo must be positive')
```

### Iterable
```python
flash = ['jay garrick', 'barry allen', 'wally west', 'bart allen']
for person in flash:
    print(person)

# flash is a list, to create an ITERATOR for flash

superspeed = iter(flash)

print(next(superspeed))
print(next(superspeed))

# to create a LIST OF TUPLES
mutants = ['charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pride']

mutant_list = list(enumerate(mutants))

# unpack and print the tuple paris

for index1, value1 in enumerate(mutants):
    print(index1, value1)

# change starting index
for index2, value2 in enumerate(mutants, start=1):
    print(index2, value2)
    
# Create a list of tuples: mutant_data
mutant_data = list(zip(mutants, aliases, powers))
# Print the list of tuples
print(mutant_data)
# Create a zip object using the three lists: mutant_zip
mutant_zip = zip(mutants, aliases, powers)
# Print the zip object
print(mutant_zip)
# Unpack the zip object and print the tuple values
for value1,value2,value3 in zip(mutants, aliases, powers):
    print(value1, value2, value3)

# Create a zip object from mutants and powers: z1
z1 = zip(mutants, powers)
# Print the tuples in z1 by unpacking with *
print(*z1)
z1Dict = dict(z1)
# Re-create a zip object from mutants and powers: z1
z1 = zip(mutants, powers)
# 'Unzip' the tuples in z1 by unpacking with * and zip(): result1, result2
result1, result2 = zip(*z1)
# Check if unpacked tuples are equivalent to original tuples
print(result1 == mutants)
print(result2 == powers)
```

### CASE: counting example using tweet
```python
# Define count_entries()
def count_entries(csv_file, c_size, colname):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    # Initialize an empty dictionary: counts_dict
    counts_dict = {}
    # Iterate over the file chunk by chunk
    for chunk in pd.read_csv(csv_file, chunksize=c_size):
        # Iterate over the column in DataFrame
        for entry in chunk[colname]:
            if entry in counts_dict.keys():
                counts_dict[entry] += 1
            else:
                counts_dict[entry] = 1
    # Return counts_dict
    return counts_dict
# Call count_entries(): result_counts
result_counts = count_entries('tweets.csv', c_size=10,colname='lang')
```

### List Comprehension
```python
squares = [i**2 for i in range(0, 10)]

# LoL syntax
matrix = [ [ col for col in range(5) ] for row in range(5) ] 

print(squares)
print(matrix)

new_fellowship = [member for member in fellowship if len(member) >= 7]
new_fellowship = [member if len(member) >= 7 else '' for member in fellowship]
new_fellowship = {member:len(member) for member in fellowship}

# LoL to LoD
list_of_dicts = [lists2dict(feature_names, sublist) for sublist in row_lits]
# LoD to DF
df = pd.DataFrame(list_of_dicts)
```

### Context Manager, Res allocation (connection)
```python
with open('world_dev_ind.csv') as file:
    # skip col names
    file.readline()
    counts_dict = {}
    
    for j in range(1000):
        line = file.readline().split(',')
        first_col = line[0]
        
        if first_col in counts_dict.keys():
            counts_dict[first_col] += 1
        else:
            counts_dict[first_col] = 1

# read large file
def read_large_file(file_object):
    """a GENERATOR func to read lazily."""
    while True:
        data = file_object.readline()
        if not data:
            break
        yield data

with open('world_dev_ind.csv') as file:
    gen_file = read_large_file(file)
    print(next(gen_file))
    print(next(gen_file))

    
# another way to read large data BY CHUNKS as DF, creating iterable 'reader object' that can be
# next()
df_reader = pd.read_csv('ind_pop.csv', chunksize=10)
print(next(df_reader))
```

### DateFrame in Chunk
```python
]:
# Get the first DataFrame chunk: df_urb_pop
df_urb_pop = next(urb_pop_reader)
# Check out the head of the DataFrame
print(df_urb_pop.head())
# Check out specific country: df_pop_ceb
df_pop_ceb = df_urb_pop[df_urb_pop['CountryCode'] == 'CEB']
# Zip DataFrame columns of interest: pops
pops = zip(df_pop_ceb['Total Population'], df_pop_ceb['Urban population (% of total)'])
# Turn zip object into list: pops_list
pops_list = list(pops)

# Use list comprehension to create new DataFrame column 'Total Urban Population'
df_pop_ceb['Total Urban Population'] = [int(tup[0] * tup[1] * 0.01) for tup in pops_list]
# Plot urban population data
df_pop_ceb.plot(kind='scatter', x='Year', y='Total Urban Population')
plt.show()


# Initialize reader object: urb_pop_reader
urb_pop_reader = pd.read_csv('ind_pop_data.csv', chunksize=1000)
# Initialize empty DataFrame: data
data = pd.DataFrame()
# Iterate over each DataFrame chunk
for df_urb_pop in urb_pop_reader:
    # Check out specific country: df_pop_ceb
    df_pop_ceb = df_urb_pop[df_urb_pop['CountryCode'] == 'CEB']
    # Zip DataFrame columns of interest: pops
    pops = zip(df_pop_ceb['Total Population'],
                df_pop_ceb['Urban population (% of total)'])
    # Turn zip object into list: pops_list
    pops_list = list(pops)
    # Use list comprehension to create new DataFrame column 'Total Urban Population'
    df_pop_ceb['Total Urban Population'] = [int(tup[0] * tup[1]) for tup in pops_list]
    # Append DataFrame chunk to data: data
    data = data.append(df_pop_ceb)
```

# Numpy

```python
np.int64
np.float32
np.complex
np.bool
np.object
np.string_
np.unicode_

a.shape
len(a)
b.ndim
e.size
b.dtype
b.dtype.name
b.astype(int)

np.exp(b)
np.sqrt(b)
np.sin(a)
np.cos(b)
np.log(a)
e.dot(f)

a.sum()
a.min()
b.max(axis=0)
b.cumsum(axis=1)
a.mean()
b.median()
a.corrcoef()
np.std(b)

# Create a view of the array with the same data
h = a.view()
# Create a copy of the array
np.copy(a)
# Create a deep copy of the array
h = a.copy()

```

- Creating by `np.array()` auto-convert __any__ sequences to dtype
- __NDARRAY for memmory & scale ALWAYS NO COPY BUT VIEW___
    - `arr_slice = arr[5:8]; mod arr_slice and arr mod`
- Need explicit copy - `arr[5:8].copy()`
- Access dim recursively `arr[n][n-1][n-2]...`
- Dimension == Axis `arr2D[1:6]` means slicing along AXIS-0
- Boolean Indexing
    - `arr[names == 'bob', 2:]`
    - Negation by `!=` or `-` like `data[-(name=='bob')]`
    - `data[cond1 | or & cond2]`
    - ALWAYS COPY
- Fancy Indexing
    - `data[ [4, 3, 0, 6] ]` indexing axis=0 elements 
- Question: `arr[ [1, 5, 7, 2] [0, 3, 1, 2] ]`
    - Tuple-element (1, 0) (5, 3) etc
    - BUT `[[1,5,7,2]][:, [0,3,1,2]]` logically select ordered elements from Axis-0, then select all element per Axis-0 with ordered elements from Axis-1 !!
- Transpose `arr.T` and InnerProd `np.dot(arr.T, arr)`
- High Dimension (2, 2, 4) transposed as `arr.transpose((1, 0, 2))` 
- `arr.swapaxes(1, 2)` then becomes (2, 4, 2) !!
- Universal Functions `np.sqrt(arr), exp(), max(x, y)` ELEMENT-WISE ACTION
    - `isnan isinf add subtract multiply divide power r`
- MESHGRID for vectorised actions 2 1D -> 2 2D or (x)(y) becomes (x,y) paris 
    - `points = (1000,) xs, ys = np.meshgrid(points, points)`
    - xs = (1000, 1000) in shape
    - `z = np.sqrt(xs**2 + ys**2)`
    - `plt.imshow(z, cmap = plt.cm.gray); plt.colorbar()`
- Conditional Assigning (x if True, y if False) equi-array
    - `[ (x if c else y) for x, y, c in zip(xarr, yarr, cond) ]`
    - BUT Faster in NumPy method `.where()`
    - `np.where(cond, xarr, yarr)`
- EX: 4 possible conditions in nested where
```python
    np.where(cond1 & cond2, 0,
             np.where(cond1, 1,
                      np.where(cond2, 2, 3)))
```
- Math/Stats
```python
    np.random.randn(5, 4) # normal random
    arr.mean(); np.mean(arr); arr.sum()
    # AXIS ALWAYS OPTIONAL
    arr.mean(axis=1)
    std, var, min, max, argmin # first index loc of 
    cumsum, cumprod
    (arr > 0).sum() # Num of positive
    any(), all() # useful
    arr.sort(1) # axis=1
    arr[int(0.05 * len(arr))] # 5% Quantile
    np.unique(names)
    np.in1d(arr, [2,3,6]) # intersect1d(x, y), union1d(x,y)
```

- File I/O
```python
    np.save(filename, arr) # binary .npy file
    np.load(filename)
    np.savez(filename, a=arr, b=arr) # zipping dict-lke
    np.loadtxt(filename, delimiter=',')
    np.savetxt(filename) # write out
    np.genfromtxt() # similar but for structured ARR and missing
```

- Linear Algebra
```python
    x.dot(y) == np.dot(x, y)
    np.linalg
    from numpy.linalg import inv, qr
    mat = X.T.dot(X)
    inv(mat), mat.dot(inv(mat)) = eye
    svd, solve, lstsq
```

- Random
```python
    np.random.normal(size = (4, 4))
    seed, permutation, shuffle, rand, randint, randn, binomial, normal, beta, chisquare, gamma, uniform
    # EX first cross line
    nstep = 1000; draws = np.random.randint(0,2, size=nstep)
    steps = np.where(draws > 0, 1, -1)
    walk = steps.cumsum(); walk.min()/max()
    np.abs(walk) >= 10).argmax() # first index of max in bool-arr
    # Simulation
    nwalks = 5000; draws = np.random.randint(0, 2, size = (nwalks, nsteps))
    walks = steps.cumsum(1) # axis-1
    hits30 = (np.arbs(walks) >= 30).any(1) 
    crossing = (np.abs(walks[hits30] >= 30).argmax())
    crossing.mean()
```

# PANDAS

## Some Pandas Trick

### read_csv only few lines to check (nrows=5) and extract columns to list (df.columns.tolist()) and take needed later with (usecols = ['c1', 'c2', ...]) plus speed up by (dtype = {'c1': str, 'c2': int, ...})

### select_dtypes 

```python
coinbase_final.dtypes.value_counts()

coinbase_final.select_dtypes(include=['object'])
```

### map by {'old': 'new}

### value_counts (args = normalize, dropna, sort) ; with .reset_index() making result into df

```python
coinbase_final.date.value_counts()
```

### number of missing

```python
btcnews_final.isna().sum(axis=1)

btcnews_final.isnull().sum(axis=1)
```

### select rows with specific values

```python
df_filter = df['ID'].isin(['A001'])
df[df_filter]
```

### percentile groups

```python
cut_points = [np.percentile(df['c'], i) for i in [50, 80, 95]]
df['group'] = 1
for i in range(3):
    df['group'] = df['group'] + (df['c'] < cut_points[i])
```

## Basic
- `Series()` and `series.values series.index`
- `obj = Series( [4, 7, -5, 3], index = ['a', 'b', 'a', 'c'] )`
- `Series( dict() )` auto-indexing
- Missing:
    - `pd.isnull()` `pd.notnull()` boolean

```python
    Series.name = "name"; Series.index.name = "indexName"
    # DF as Dict of Series sharing same index
    # 2D but multi-index can repr high-dimension !!
    frame = DataFrame( dict() )
    frame = DataFrame( np.array() ) # equi-length
    orderedCol = DataFrame(data, columns=['year', 'etc'])
    frame.columns; frame.index.name; frame.columns.name
    frame.values; index = pd.index()
```

- Index Object !
    - Index: Axis labels in NdArray or python
    - Int64Index: integer values
    - MultiIndex: Hierarchical similar to tuples
    - DatetimeIndex: nanosecond timestamps
    - PeriodIndex: timespans
- Methods of DF object
```python
    append diff intersection union isin delete insert drop is_unique unique
```

- Reindexing
```python
    obj2 = obj.reindex(list()); obj.reindex(list(), fill_value=0)
    , method = "ffill"
    col = obj.reindex(columns = list())
    # method
    limit, level, copy
```

- Drop entries
```python
    obj.drop('c'); obj.drop('two', axis=1)
    data[data['axis-0'] > 5]
```

- Functions
```python
    df1.add(df2, fill_value=0)
    df1.reindex(columns=df2.columns, fill_value=0)
    # NUMPY UFUNC WORKS WITH PANDAS OBJ
    np.abs(frame) # element-wise
    # APPLY
    f = lambda x: x.max() - x.min()
    frame.apply(f, axis=1)
    def f(x): return Series([x.min(), x.max(), index=['min','max']])
    frame.apply(f)
    # APPLYMAP Series has map method for same purpose so renamed
    format = lambda x: '%.2f' % x
    frame.applymap(format)
    frame['e'].map(format) # series map
    # SORTING
    obj.sort_index() # series
    frame.sort_index(axis=1, ascending=False)
    obj.order() # by values
    frame.sort_index(by='b')
    obj.index.is_unique # values
    # METHODS of DF
    count, argmin, quantile, mad, cusum, cumprod, diff, pct_change
    .corr() .cov()
    frame.corrwith(series)
    series.value_counts()
    data.apply(pd.value_counts).fillna(0)
    # MISSING
    np.nan data.isnull() .dropna(how='all')
    df.fillna( {1:0.5, 3:-1} )
    data.fillna(data.mean())
    # HIERARCHICAL INDEXING
    Series(data, index[ [level1], [level2] ])
    data.unstack().stack()
    sum(level = 'key2')
    frame.swaplevel('key1','key2')
    set_index(['c','d'], drop=False)
    .reset_index()
```

- PANEL DATA
```python
    import pandas.io.data as web
    pdata = pd.Panel(dict(stk, web.get_data_yahoo(stk, '1/1/2009', '6/1/2012')) for stk in ['APPL', 'GOOG', 'MSFT', 'DELL']))
    pdata = pdata.swapaxes('items', 'minor')
    pdata['Adj Close']
    # ALternative repr panel is STACKED DF
    stacked = pdata.loc[:, '5/30/2012':, :].to_frame()
    stacked.to_panel()
```

## Slicing

In [3]:
# Multiple row and column selections using iloc and DataFrame
data.iloc[0:5] # first five rows of dataframe
data.iloc[:, 0:2] # first two columns of data frame with all rows
data.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.
data.iloc[0:5, 5:8] # first 5 rows and 5th, 6th, 7th columns of data frame (county -> phone1).

# setting index in df
data.set_index("last_name", inplace=True)
# via loc method
# Select same rows, with just 'first_name', 'address' and 'city' columns
data.loc['Andrade':'Veness', ['first_name', 'address', 'city']]
# boolean/logical indexing
# Select rows with first name Antonio, # and all columns between 'city' and 'email'
data.loc[data['first_name'] == 'Antonio', 'city':'email']
# Select rows where the email column ends with 'hotmail.com', include all columns
data.loc[data['email'].str.endswith("hotmail.com")]   
# Select rows with last_name equal to some values, all columns
data.loc[data['first_name'].isin(['France', 'Tyisha', 'Eric'])]   
# Select rows with first name Antonio AND hotmail email addresses
data.loc[data['email'].str.endswith("gmail.com") & (data['first_name'] == 'Antonio')] 
# select rows with id column between 100 and 200, and just return 'postal' and 'web' columns
data.loc[(data['id'] > 100) & (data['id'] <= 200), ['postal', 'web']]

# A lambda function that yields True/False values can also be used.
# Select rows where the company name has 4 words in it.
data.loc[data['company_name'].apply(lambda x: len(x.split(' ')) == 4)]  
# Selections can be achieved outside of the main .loc for clarity:
# Form a separate variable with your selections:
idx = data['company_name'].apply(lambda x: len(x.split(' ')) == 4)
# Select only the True values in 'idx' and only the 3 columns specified:
data.loc[idx, ['email', 'first_name', 'company']]

# Change the first name of all rows with an ID greater than 2000 to "John"
data.loc[data['id'] > 2000, "first_name"] = "John"

NameError: name 'data' is not defined

## TO SORT

`df.ix[:, 'Capital']`

`df.idmax()`

`df.iteritems() # (Column-index, Series) pairs`

`df.iterrows() # (Row-index, Series) pairs`

**Advanced Indexing**

```python
Selecting
>>> df3.loc[:,(df3>1).any()]
>>> df3.loc[:,(df3>1).all()]
>>> df3.loc[:,df3.isnull().any()]
>>> df3.loc[:,df3.notnull().all()]
Indexing With isin
>>> df[(df.Country.isin(df2.Type))]
>>> df3.filter(items=”a”,”b”])
>>> df.select(lambda x: not x%5)
Where
>>> s.where(s > 0)
Query
>>> df6.query('second > first')

# Transformation
>>> customSum = lambda x: (x+x%2)
>>> df4.groupby(level=0).transform(customSum)

# datetime
>>> df2['Date']= pd.to_datetime(df2['Date'])
>>> df2['Date']= pd.date_range('2000-1-1',
                               freq='M')
>>> dates = [datetime(2012,5,1), datetime(2012,5,2)]
>>> index = pd.DatetimeIndex(dates)
>>> index = pd.date_range(datetime(2012,2,1), end, freq='BM')

# dupes
>>> df2.duplicated('Type')
>>> df2.drop_duplicates('Type', keep='last')
>>> df.index.duplicated()
```

In [ ]:
#  BUILDING DF from zero


cities = ['Montreal', 'Toronto', 'Vancouver', 'Halifax', 'Ottawa']
signups = [7, 12, 23, 5, 10]
visitors = [139, 235, 333, 123, 49]
weekdays = ['Sun', 'Mon', 'Tue', 'Wed', 'Thur']

list_lables = ['city', 'visitors', 'signups',  'weekdays']
list_cols = [cities, signups, visitors, weekdays]

zipped = list(zip(list_lables, list_cols))
    # list of tuples
print(zipped)
print(type(zip(list_lables, list_cols)))

data = dict(zipped)
print(data)

users = pd.DataFrame(data)
users

In [ ]:
# broadcasting (similar to map?)

users['fees'] = 0
# data.columns = ['newnames'...]
# data.index = ['newindex'....]

# CLEANING IN CSV IMPORTING

pd.read_csv(filepath, header=None)
    names = col_names_list # rename columns
    na_values = 'missing' # assigning missing value
    na_values = {'col1': ['missing', 'other'], 'col2':[....]} # specify each col missing value
    parse_dates = [ [0, 1, 2] ] # parsing date indexs, e.g. 0 = year, 1 = month, 2 = day

df.index.name = 'date' # renaming

cols = [ ones to keep ]
df = df[cols]

# writing out CSV
df.to_csv('filename', sep='\t')
df..to_excel('filename')

In [ ]:
# PLOT WITH PANDAS
appl = pd.read_csv(filepath, index_col='date', parse_dates = True)
value = appl['close price'].values
plt.pllot(value)

# direct plot series without interacting with ndarray
series = appl['close price']
series.plot()
appl.plot() # all col at once may result in distortion due to scale

plt.yscale('log')) 

# some customising
appl['open'].plot(color='b', style='.-', legend=True)
plt.axis( ('2001', '2002', 0, 100) )

# saving
appl.loc['2001':'2004',['open','close','high']].plot()
plt.savefig('appl.png')
plt.savefig('appl.jpg')
plt.savefig('appl.pdf')
plt.show()

df.plot(subplots=True)

In [ ]:
df_iris = pd.read_csv('seaborn-data/iris.csv')
df_iris.head()

In [ ]:
import matplotlib.pyplot as plt

# various ways to plot hist
df_iris.plot(kind='hist')
df_iris.plot.hist()
df_iris.hist()

df_iris.plot(y='sepal_length', kind='hist', bins=30, range=(4,8), cumulative=True, normed=True)
plt.show()

In [ ]:
# another type of col-specified plot
y_col = ['sepal_length', 'petal_length']
df_iris.plot(x='sepal_width', y=y_col)

df_iris[y_col].plot(kind='box', subplots=True)
plt.show()

In [ ]:
# formating plots
fig, axes = plt.subplots(nrows=2, ncols=1)
df_iris['sepal_length'].plot(ax = axes[0], kind='hist', bins=30, normed=True)

df_iris['petal_length'].plot(ax=axes[1], kind='hist', cumulative=True, normed=True, bins=30)

plt.show()

In [ ]:
mean_iris = df_iris.mean(axis=0)
mean_iris

In [ ]:
# extracting category data separately
indices = df_iris['species'] == 'setosa'
setosa = df_iris.loc[indices, :]
    # repeat for other cats...
# check uniqueness
setosa['species'].unique()
df_iris['species'].unique()

In [5]:
# Time Series

time_format = '%Y-%m-%d %H:%M'

my_datetimes = pd.to_datetime(date_list, format=time_format)

time_series = pd.Series(temperature_list, index=my_datetimes)

# extract date by time index
ts3 = ts0.loc['2010-12-15' : '2010-12-31']

ts4 = ts2.reindex(ts1.index, method='ffill')
    # reindex using ts1's index, by forward filling missing (or bfill)
    
# RESAMPLING TIME SERIES
df1 = df['Temperature'].resample('6h').mean()
    # aggregation is must, e.g. mean

df2 = df['Temperature'].resample('D').count()

august = df['Temperature'].loc['2010-08']

august_highs = august.resample('D').max()


# ROLLING or SMOOTHING over aggregate chain method

unsmoothed = df['Temperature']['2010-Aug-01':'2010-Aug-15']

smoothed = unsmoothed.rolling(window=24).mean()
    # rolling depends on date interval, here unit is hour

august = pd.DataFrame( {'smoothed': smoothed, 'unsmoothed': unsmoothed})


# WRANGLING TS in PANDAS

sales['columns'].str.upper()
sales['columns'].str.contains('strings')
sales['columns'].str.contains('strings').sum()

# datetime method

sales['Date'].dt.hour

sales['Date'].dt.tz_localize('US/Central').dt.tz_convert('US/Eastern')

population.resample("A").first()
population.resample('A').first().interpolate('linear')
    # interpoating missing value as linear

# strip extra whitesapce from col names
df.columns = df.columns.str.strip()

# extract data for which the destination
dallas = df['Destination Airport'].str.contains('DAL')

daily_departures = dallas.resample('D').sum()

stats = daily_departures.describe()

ts2_interp = ts2.reindex(ts1.index).interpolate(how='linear')
    # reset index of ts to ts1, filling missing using linear

diff = np.abs(ts1-ts2_interp)


# BOOLEAN MASK TO FILTER
mask = df['Destination Airport'] == 'LAX'
la = df[mask]
# Combine two columns of data to create a datetime series: times_tz_none 
times_tz_none = pd.to_datetime( la['Date (MM/DD/YYYY)'] + ' ' + la['Wheels-off Time'] )
# Localize the time to US/Central: times_tz_central
times_tz_central = times_tz_none.dt.tz_localize('US/Central')
# Convert the datetimes from US/Central to US/Pacific
times_tz_pacific = times_tz_central.dt.tz_convert('US/Pacific')

# Convert the 'Date' column into a collection of datetime objects: df.Date
df.Date = pd.to_datetime(df['Date'])
# Set the index to be the converted 'Date' column
df.set_index('Date',inplace=True)

NameError: name 'pd' is not defined

In [7]:
# READING AND CLEANING DATA

column_lables_list = column_labels.split(',')

df.columns = column_labels_list

df_dropped = df.drop(list_to_drop), axis='columns')


# Convert the date column to string: df_dropped['date']
df_dropped['date'] = df_dropped['date'].astype(str)
# Pad leading zeros to the Time column: df_dropped['Time']
df_dropped['Time'] = df_dropped['Time'].apply(lambda x:'{:0>4}'.format(x))
# Concatenate the new date and Time columns: date_string
date_string = df_dropped['date'] + df_dropped['Time']
# Convert the date_string Series to datetime: date_times
date_times = pd.to_datetime(date_string, format='%Y%m%d%H%M')
# Set the index to be the new date_times container: df_clean
df_clean = df_dropped.set_index(date_times)



# Downsample df_clean by day and aggregate by mean: daily_mean_2011
daily_mean_2011 = df_clean.resample('D').mean()
# Extract the dry_bulb_faren column from daily_mean_2011 using .values: daily_temp_2011
daily_temp_2011 = daily_mean_2011['dry_bulb_faren'].values
# Downsample df_climate by day and aggregate by mean: daily_climate
daily_climate = df_climate.resample('D').mean()
# Extract the Temperature column from daily_climate using .reset_index(): daily_temp_climate
daily_temp_climate = daily_climate.reset_index()['Temperature']
# Compute the difference between the two arrays and print the mean difference
difference = daily_temp_2011 - daily_temp_climate
print(difference.mean())

# Select days that are sunny: sunny
sunny = df_clean.loc[df_clean['sky_condition']=='CLR']
# Select days that are overcast: overcast
overcast = df_clean.loc[df_clean['sky_condition'].str.contains('OVC')]


# INDEXING
# via bracket and col as attribute and row label
df['col']['row']
df.col['row']
# BUT formal index .loc accessor
df.loc['row','col']
# nested list for some cols
df[['col1','col2']]

# Slicing col as Series
df['col'][1:4] # col then unit of series
# subtle distinguish between Series and DF
df['col'] # series
df[['col']] # DF of 1 series
	# many method/attr shared but series is 1D

# Slice the row labels 'Potter' to 'Perry' in reverse order: p_counties_rev
p_counties_rev = election.loc['Potter':'Perry':-1,:]
# using predefined rows and cols
three_counties = election.loc[rows, cols]

# filters
df[(df.col1 >= 50) & (df.col2) < 200]
	# operand applies | !=
# selec col with Nonzero or any
df.loc[:, df.all()]
df.loc[:, df.any()]
# select col with any NaN
df.loc[:, df.isnull().any()]
# without NaN
df.loc[:, df.notnull().all()]
# drop rows with any NaN
df.dropna(how='any') 
	# any of the cols per row NA dropped, 'all' requires all cols per row
# cond.filter and modify
df.col1[df.col2 > 55] += 5

# Create the boolean array: too_close
too_close = election['margin'] < 1
# Assign np.nan to the 'winner' column where the results were too close to call
election['winner'][too_close]  = np.nan

# Call .dropna() with thresh=1000 and axis='columns' and print the output of .info() from titanic
print(titanic.dropna(thresh=1000, axis='columns').info())

# TRANSFORM
# vectorised func arithmetic
df.floordiv(12)
np.floor_div(df, 12)

# plain function definnition
def dozen_cal(n):
	return n//12
df.apply(dozen)
# lambda
df.apply(lambda n: n//12)
# apply func for index
df.index = df.index.map(str.lower)


def to_celsius(F):
    return 5/9*(F - 32)
df_celsius = weather[['Mean TemperatureF', 'Mean Dew PointF']].apply(to_celsius)
df_celsius.columns = ['Mean TemperatureC', 'Mean Dew PointC']

# Create the dictionary: red_vs_blue
red_vs_blue = {'Obama':'blue', 'Romney':'red'}
# Use the dictionary to map the 'winner' column to the new column: election['color']
election['color'] = election['winner'].map(red_vs_blue)

# When efficacy is paramount, avoid .apply() and .map() for they're looping
# Vectorised func can loop over equating compiled code (C, Fortran)
# such come with NumPy, SciPy and pandas, namely Universal Function

# importing zscore from scipy - z-score = #of std by which sample is above/below the mean
# UFunc takes a pdSeries returning NumPyArray, be assigned

from scipy.stats import zscore
# Call zscore with election['turnout'] as input: turnout_zscore
turnout_zscore = zscore(election['turnout'])
election['turnout_zscore'] = turnout_zscore

# INDEXING AND LABELLING
# pandas Data Structures
	# Index: seq of labels
		# Immutable (like DICT keys)
		# Homogenous in type (like NP arrays)
	# Series: 1D array with Index
	# DF: 2D array with Series as columns sharing same Index
prices = [...]
shares = pd.Series(prices)
	# indexed 0...
days = ['Mon',...]
shares = pd.Series(prices, index=days)
	# indexed Mon...
shares.index.name = 'weekday'
# default read_csv as RangeIndex
data.index = data['identifier']
	# use existing col as index
	# delete duplicate
		del data['identifier']

# Create the list of new indexes: new_idx
new_idx = [i.upper() for i in sales.index]
	# pithy 'list comprehension' func
# Assign new_idx to sales.index
sales.index = new_idx

# Labelling index and columns
data.index.name = "name"
data.columns.name = "name"

# Setting MultiIndex by 'tuple', or multiple identifiers
stocks = stocks.set_index(['Symbol', 'Date'])
# sorting 
stocks = stocks.sort_index()
# slicing MultiIndex
stocks.loc[(['AAPL', 'MSFT'], '2016-10-05'), 'Close']
# slicing both indexes
stocks.loc[(slice(None), slice('2016-10-03', '2016-10-04')), :]
	# Using IndexSlice class for more intuitive code:
	# Create alias for pd.IndexSlice: idx
	idx = pd.IndexSlice
	df.loc[idx[:, 'col1':'col2'], :]
	# accessing inner levels most trickiest
# Look up data for all states in month 2: all_month2
all_month2 = sales.loc[(slice(None), 2), :]


# PIVOTING DF
trials.pivot(index='treatment', columns='gender', values='response')
    # if values=none, all variables will atuo
# unstacking a multi-index by moving it to columns
trials.unstack(level='gender')
    # for use by pivot()
    # returning
        trails.stack()
    # swapping level
        swapped = stacked.swaplevel(0,1)
        sorted_trials = swapped.sort_index()
    # verify equality
        df1.equals(df2)

# MELT columns into rows
pd.melt(df, id_vars=['col1'], var_name='col2', value_name='newname')
# Non-UNIQUE (or duplicate) entries INDEX fails pivot(), instead use pivot_table() MUST with 'reduction', default = mean()
trials.pivot_table(index=, columns=, values=,
    aggfunc='count')
    aggfunc=sum, margins=True 
        # obtaining sum with total


# CATEGORICALS AND GROUPBY
# groupby 'category' of columns
sales.groupby('weekday').count()
	# split-apply-combine syntax including std(), sum(), first(),last(), etc
sales.groupby('weekday')[['bread','butter']].sum()
	# further cueing on specific column(s)
# multi-index
sales.groupby(['city','weekday']).mean()
# converting 'object' into 'category'
sales['weekday'] = sales['weekday'].astype('category')
	# Pros: less RAM and speeds up operations like groupby()
# Multi-aggregation
sales.groupby('city')[['bread','butter']].agg(['max', 'sum'])
	# agg() also accept DEF func
		def data_range(series):
			return series.max() - series.min()
		.agg(data_range)
	# agg() on DICT
		.agg({'bread':'sum', 'butter':data_range})
	# agg() method in-effect add as new cols into the DF
	agg_sales.loc[:, ('bread','max')]
		# returns both cols

# For multi-level index, unit level can be used to groupby, allowing advanced agg on levels across cols
by_year_region = gapminder.groupby(level=['Year','region'])
# On transformed index values, e.g. DateTimeIndex; extracting portions of datetime over which to group
# 'is there a day of the week more popular?'
# Create a groupby object: by_day
by_day = sales.groupby(sales.index.strftime('%a'))
	# '.strftime('%a') to transform the 
units_sum = by_day['Units'].sum()

# Groupby + Transformation
auto.groupby('yr')['mpg'].transform(zscore).head()
# Apply transformation + aggregation
def zscore_yearName(group):
	df = pd.DataFrame(
		{'mpg':zscore(group['mpg']),
		'year':group['yr'], 'name':group['name']})
	return df
# this new Trans/Agg too complicated for transformation method, hence apply()
auto.groupby('yr').apply(zscore_yearName)

# Import zscore
from scipy.stats import zscore
# Group gapminder_2010: standardized
standardized = gapminder_2010.groupby('region')['life','fertility'].transform(zscore)
# Construct a Boolean Series to identify outliers: outliers
outliers = (standardized['life'] < -3) | (standardized['fertility'] > 3)
# Filter gapminder_2010 by the outliers: gm_outliers
gm_outliers = gapminder_2010.loc[outliers]

# Filling missing data (IMPUTATION) by group
# many ML packages cannot determine the best action facing missing data, PANDAS deals naturally like .dropna()
# Imputing missing wisely always trumps dropping

# Create a groupby object: by_sex_class
by_sex_class = titanic.groupby(['sex','pclass'])
# Write a function that imputes median
def impute_median(series):
    return series.fillna(series.median())
# Impute age and assign to titanic['age']
titanic.age = by_sex_class['age'].transform(impute_median)

# .apply() + groupby() performs arbitrary func (agg, transf, or more complex workflow), then combined intelligently

# Filtering
# groupby object 'DataFrameGroupBy' is a DICT, key=groupby
# type(splitting.groups) = dict
	# splitting.groups.keys()
# it's 'iterable' 
	for group_name, group in splitting:
		avg = group['mpg'].mean()
		print(group_name, avg)
# iteration and filter
		avg = group.loc[group['name'].str.contains('chevrolet'), 'mpg'].mean()
# DICT COMPREHENSION
chevy_means = {year:group.loc[group['name'].str.contains('chevrolet'),'mpg'].mean() for year, group in splitting}
# convert this DICT into Series
pd.Series(chevy_means)
# boolean groupby
chevy = auto['name'].str.contains('chevrolet')
auto.groupby(['yr', chevy])['mpg'].mean()

# Read the CSV file into a DataFrame: sales
sales = pd.read_csv('sales.csv', index_col='Date', parse_dates=True)
# Group sales by 'Company': by_company
by_company = sales.groupby('Company')
# Filter 'Units' where the sum is > 35: by_com_filt
by_com_filt = by_company.filter(lambda g:g['Units'].sum()>35)

# Filter + Grouping with .map()
	# instead grouping by a func/transformation of a column
	# key being Series is indexed as DF, mix and match column grouping with Series grouping
# Create the Boolean Series: under10
under10 = (titanic['age'] < 10).map({True:'under 10', False:'over 10'})
# Group by under10 and pclass and compute the survival rate
survived_mean_2 = titanic.groupby([under10,'pclass'])['survived'].mean()
print(survived_mean_2)

# CASE STUDY - Olympic
	# INDEXING / PIVOTING / GROUPBY / AGG/TRANSFORMATING/FILTERING
# ?? Total number of medals won US per edition ??
	USA_edition = medals.loc['Country' == 'USA'].groupby('Edition')
	USA_edition['Medal'].count()
	series1.value_count()
	# method in Series unique value
# ?? distinct medals won per country ??
	# Construct the pivot table: counted
	counted = medals.pivot_table(index='NOC',values='Athlete',columns='Medal',aggfunc='count')
	# Create the new column: counted['totals']
	counted['totals'] = counted.sum(axis='columns')
	# Sort counted by the 'totals' column
	counted = counted.sort_values('totals', ascending=False)
# Find unique/categorical pairs among columns
	# extract subject columns
	col_unique = df.drop_duplicates()
# Exploring Errors with groupby.() 'gender and event_gender'
	# Group medals by the two columns: medals_by_gender
	medals_by_gender = medals.groupby(['Event_gender','Gender'])
	# Create a DataFrame with a group count: medal_count_by_gender
	medal_count_by_gender = medals_by_gender.count()
# Locating suspicious data
	# Create the Boolean Series: sus
	sus = (medals.Event_gender == 'W') & (medals.Gender == 'Men')
	# Create a DataFrame with the suspicious row: suspect
	suspect = medals[sus]
# Alternative rankings
	# new methods: 'idxmax() - returns row/col position with max value', 'idxmin()' the opposite
		# options 'axis=0 by default across rows, axis=1 for cols'
# ?? which country won most distinct sports ??
	# Group medals by 'NOC': country_grouped
	country_grouped = medals.groupby('NOC')
	# Compute the number of distinct sports in which each country won medals: Nsports
	Nsports = country_grouped['Sport'].nunique()
	# Sort the values of Nsports in descending order
	Nsports = Nsports.sort_values(ascending=False)
# Intriguing, USSR not in top 5, now compare with US during period
	# Extract all rows for which the 'Edition' is between 1952 & 1988: during_cold_war
	during_cold_war = (medals['Edition'] >= 1952) & (medals['Edition'] <= 1988)
	# Extract rows for which 'NOC' is either 'USA' or 'URS': is_usa_urs
	is_usa_urs = medals.NOC.isin(['USA','URS'])
	# Use during_cold_war and is_usa_urs to create the DataFrame: cold_war_medals
	cold_war_medals = medals.loc[during_cold_war & is_usa_urs]
	# Group cold_war_medals by 'NOC'
	country_grouped = cold_war_medals.groupby('NOC')
	# Create Nsports
	Nsports = country_grouped['Sport'].nunique().sort_values(ascending=False)
# ?? who won most consistently over Cold-war
	# Create the pivot table: medals_won_by_country
	medals_won_by_country = medals.pivot_table(index='Edition',columns='NOC',values='Athlete', aggfunc='count')
	# Slice medals_won_by_country: cold_war_usa_usr_medals
	cold_war_usa_usr_medals = medals_won_by_country.loc[1952:1988, ['USA','URS']]
	# Create most_medals 
	most_medals = cold_war_usa_usr_medals.idxmax(axis='columns')
	# Print most_medals.value_counts()
	print(most_medals.value_counts())
# Visualising by matlibplot, BUT on single indexing, hence need for 'unstack()' multi-indexing DF
	# Create the DataFrame: usa
	usa = medals[medals['NOC'] == 'USA']
	# Group usa by ['Edition', 'Medal'] and aggregate over 'Athlete'
	usa_medals_by_year = usa.groupby(['Edition', 'Medal'])['Athlete'].count()
	# Reshape usa_medals_by_year by unstacking
	usa_medals_by_year = usa_medals_by_year.unstack(level='Medal')
	# Plot the DataFrame usa_medals_by_year
	usa_medals_by_year.plot()
	plt.show()
# Better visualise medal trend by 'area' plot
	usa_medals_by_year.plot.area()
# Notice 'medal' sorted by lexicography, now sort it by Categorical self-defined
	# Redefine 'Medal' as an ordered categorical
	medals.Medal = pd.Categorical(values=medals.Medal, categories=['Bronze', 'Silver', 'Gold'], ordered=True)


# MERGING WITH PANDAS
	pd.read_excel()
	pd.read_html()
	pd.json()
# Reading DF from multiple files in loop (List of DataFrames)
# Create the list of file names: filenames
filenames = ['Gold.csv', 'Silver.csv', 'Bronze.csv']
# Create the list of three DataFrames: dataframes
dataframes = []
for filename in filenames:
    dataframes.append(pd.read_csv(filename))
# Indexing
# Read 'monthly_max_temp.csv' into a DataFrame: weather1
weather1 = pd.read_csv('monthly_max_temp.csv', index_col='Month')
# Sort the index of weather1 in alphabetical order: weather2
weather2 = weather1.sort_index()
# Sort the index of weather1 in reverse alphabetical order: weather3
weather3 = weather1.sort_index(ascending=False)
# Sort weather1 numerically using the values of 'Max TemperatureF': weather4
weather4 = weather1.sort_values('Max TemperatureF')

# Reindex weather1 using the list year: weather2
weather2 = weather1.reindex(year)
# Reindex weather1 using the list year with forward-fill: weather3
weather3 = weather1.reindex(year).ffill()

names_1981 = pd.read_csv('names1981.csv', header=None, names=['name','gender','count'], index_col=(0,1))
# Reindexing in fact extract the entire dataset matching the index, if by df.index
common_names = names_1981.reindex(names_1881.index)
	common_names.dropna()
	# change in names

# Arithmetic with Series and DF
	# Convert dollars to pounds: pounds
	pounds = dollars.multiply(exchange['GBP/USD'],axis='rows')
	df.divide(df_mean, axis='rows')
	df.pct_change() * 100
# Simple +Sum of Series = UNION of Series with common index values, leaving non-common as NaN
# Broadcasting arithmetics
# Extract selected columns from weather as new DataFrame: temps_f
	temps_f = weather.loc[:,['Min TemperatureF', 'Mean TemperatureF', 'Max TemperatureF']]
	# Convert temps_f to celsius: temps_c
	temps_c = (temps_f - 32) * 5/9
	# Rename 'F' in column names with 'C': temps_c.columns
	temps_c.columns = temps_c.columns.str.replace('F','C')
# Resample() of datetime-indexed Series
	 index = pd.date_range('1/1/2000', periods=9, freq='T') # 'T', among other time offset alises 
     series = pd.Series(range(9), index=index)
     # downsample the series into 3-minute bins and sum the values
     series.resample('3T').sum()
# Example
	# Read 'GDP.csv' into a DataFrame: gdp
	gdp = pd.read_csv('GDP.csv',parse_dates=True,index_col='DATE')
	# Slice all the gdp data from 2008 onward: post2008
	post2008 = gdp.loc["2008":,:]
	# Resample post2008 by year, keeping last(): yearly
	yearly = post2008.resample('A').last()
	# Compute percentage growth of yearly: yearly['growth']
	yearly['growth'] = yearly.pct_change()*100

# Appending & Concatenating Series
series1.append() # only 'row-wise'
df.concat([series1, series2, series3]) # both-wise
	# appended index duplicates, so if cols differ it creates UNION with NaN on unique col-values
	new_east = northeast.append(south).reset_index(drop=True)
	# concat too dupicates index
	new_east = pd.concat([northeast, south], ignore_index=True)
# Slicing via .loc() with datetime index is flexible
# index == '2015-02-26'
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])
	# any form works '2015 01 27', etc.
# append VS Concat
	# Build the list of Series
	for month in [jan, feb, mar]:
	    units.append(month['Units'])
	# Concatenate the list: quarter1
	quarter1 = pd.concat(units, axis='rows')
# Building DF from multiples files
	for medal in medal_types:
	    # Create the file name: file_name
	    file_name = "%s_top5.csv" % medal
	    # Create list of column names: columns
	    columns = ['Country', medal]
		# Read file_name into a DataFrame: df
	    medal_df = pd.read_csv(file_name, header=0, index_col='Country', names=columns)
	    # Append medal_df to medals
	    medals.append(medal_df)
	# Concatenate medals horizontally: medals
	medals = pd.concat(medals, axis='columns')

# Keys & MultiIndexes in Concat()
# Concat() using multi-index on rows assigning unique outer-index
	rain1314 = pd.concat([rain2013, rain2014], keys=[2013,2014], axis=0)
		# as usal, outer-index can be sliced by .loc[]
		# simiarly for 'column'-wise, resulting in multi-column
	# in case of DICT, key-val auto assigned, 'axis=columns'
# Recap on MultiIndex DF
	medals.index # output:
	Out[1]: MultiIndex(levels=[['bronze', 'silver', 'gold'], ['France', 'Germany', 'Italy', 'Soviet Union', 'United Kingdom', 'United States']],
           labels=[[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2], [5, 3, 4, 0, 1, 5, 3, 4, 0, 2, 5, 3, 4, 2, 1]],
           names=[None, 'Country'])
		# entire index data is wrapped as pandas.indexes.multi.MultiIndex
		# with each part as LoL
# Example
	# Sort the entries of medals: medals_sorted
	medals_sorted = medals.sort_index(level=0)
	# Print the number of Bronze medals won by Germany
	print(medals_sorted.loc[('bronze','Germany')])
	# Create alias for pd.IndexSlice: idx
	idx = pd.IndexSlice
	# Print all the data on medals won by the United Kingdom
	print(medals_sorted.loc[idx[:,'United Kingdom'], :])
# MultiIndexes + Multiindexed-Columns, e.g. 'Date'/'Tier_1_Col'/'Tier_2_Col'
# Concatenate dataframes: february
	february = pd.concat(dataframes, axis=1, keys=['Hardware', 'Software', 'Service'])
	# Assign pd.IndexSlice: idx
	idx = pd.IndexSlice
	# Create the slice: slice_2_8
	slice_2_8 = february.loc['2015 02 02':'2015 02 08', idx[:, 'Company']]
# Example
	# Make the list of tuples: month_list
	month_list = [('january', jan), ('february', feb), ('march', mar)]
	# Create an empty dictionary: month_dict
	month_dict = {}
	for month_name, month_data in month_list:
	    # Group month_data: month_dict[month_name]
	    month_dict[month_name] = month_data.groupby('Company').sum()
	# Concatenate data in month_dict: sales
	sales = pd.concat(month_dict)
	# Print all sales by Mediacore
	idx = pd.IndexSlice
	print(sales.loc[idx[:, 'Mediacore'], :])

# Outer & Inner Joins
# Stacking arrays horizontally
	np.hstack([B,A]) == np.concatenate([B,A], axis=1)
		# Rows must equal, but cols can vary
# Stacking arrays vertically
	np.vstack([A,C]) == np.concatenate([A,C], axis=0)
		# Cols must equal, rows can differ
# OUTER JOIN: Union of index sets (all labels, no repititaion), Missing fields as NaN
# INNER JOIN: Intersection of index sets (only common labels)
	pd.concat([population, unemployment], join='inner', axis=0)
		# Empty, as no COMMON COLUMN index label
# GDP Growth between US and China
	# Resample and tidy china: china_annual
	china_annual = china.resample('A').pct_change(10).dropna()
	# Resample and tidy us: us_annual
	us_annual = us.resample('A').pct_change(10).dropna()
	# Concatenate china_annual and us_annual: gdp
	gdp = pd.concat([china_annual,us_annual], join='inner', axis=1)
	# Resample gdp and print
	print(gdp.resample('10A').last())


# MERGING DF (extending Concat() to align rows with multi-columns)
# Default merge() 'INNER' joins columns with common key-column
	# Nil if no exact columns match
	# Instead, merge() single column 
		pd.merge(bronze, gold, on='NOC') # appending columns to the right
		pd.merge(bronze, gold, on=['NOC', 'Country']) # allowing matching of multiple columns only
	# Change column label with suffixes=[]
		suffixes=['_bronze', '_gold'] # adding to original label
	# If col-labels differ, must declare lables
		pd.merge(counties, cities, left_on='CITY NAME', right_on='City')
			# differing columns joined on are retained after merge
# Merge(how='left or right'): retaining rest columns from left or right DF as NaN if missing
# Merge(how='outer'): Union of rest of columns as NaN if missing

# JOIN .join(how='left')
	population.join(employment) # Default 'left' join by Index (i.e. population), missing filled as NaN
		# otherwise for how='right'

	# also for how='inner'/'outer'
# Which to use ? - the simplest that works
	# append - stacking vertically only
	# concat - stacking many both-way + simple inner/outer on INDEX only
	# join - inner/outer/left/right on INDEXes only
	# merge - many joins on multiple columns, most powerful, NOT on INDEX
sales_and_managers = pd.merge(sales, managers, how='left', left_on=['city','state'],  right_on=['branch', 'state'])

# Order Merge: merge_ordered() : basically an ORDERED OUTER JOIN on common columns
	# similar args to merge()
	pd.merge_ordered(hardware, software, on=['Date','Company'], suffixes=['_hardware','_software'])
	# filling NaN, not helpful when beginning entries are NaN
	pd.merge_ordered(stocks, gdp, on='Date', fill_method='ffill')
# merge_asof() : merge values in order using the 'on' column, but for each row in DF, only rows from the right DF
	# whose 'on' column values are LESS than the left value will be kept. Often used to align disparate datetime
	# frequencies without having to first resample
		# Merge auto and oil: merged
		merged = pd.merge_asof(auto, oil, left_on='yr', right_on='Date')
		# Resample merged: yearly
		yearly = merged.resample('A',on='Date')[['mpg','Price']].mean()


# CASE STUDY: Does host-country win more?
# Loading DF
	# Create file path: file_path
	file_path = 'Summer Olympic medallists 1896 to 2008 - EDITIONS.tsv'
	# Load DataFrame from file_path: editions
	editions = pd.read_csv(file_path, sep='\t')
	# Extract the relevant columns: editions
	editions = editions[['Edition', 'Grand Total', 'City',  'Country']]
# Building medals DF
	# Create empty dictionary: medals_dict
	medals_dict = {}
	for year in editions['Edition']:
	    # Create the file path: file_path
	    file_path = 'summer_{:d}.csv'.format(year)
	    # Load file_path into a DataFrame: medals_dict[year]
	    medals_dict[year] = pd.read_csv(file_path)
	    # Extract relevant columns: medals_dict[year]
	    medals_dict[year] = medals_dict[year][['Athlete', 'NOC', 'Medal']]
	    # Assign year to column 'Edition' of medals_dict
	    medals_dict[year]['Edition'] = year   
	# Concatenate medals_dict: medals
	medals = pd.concat(medals_dict, ignore_index=True)
# Counting Medals by Country per Edition
	medal_counts = medals.pivot_table(index='Edition', values='Athlete', columns='NOC', aggfunc='count')
# Counting Medals as Fraction of Total per Edition
	# Set Index of editions: totals
	totals = editions.set_index('Edition')
	# Reassign totals['Grand Total']: totals
	totals = totals['Grand Total']
	# Divide medal_counts by totals: fractions
	fractions = medal_counts.divide(totals, axis='rows')
# Percentage change
	# Apply the expanding mean: mean_fractions
	mean_fractions = fractions.expanding().mean()
	# Compute the percentage change: fractions_change
	fractions_change = mean_fractions.pct_change()*100
	# Reset the index of fractions_change: fractions_change
	fractions_change = fractions_change.reset_index()
# Reshape data
	# Left join editions and ioc_codes: hosts
	hosts = pd.merge(editions, ioc_codes, how='left')
	# Extract relevant columns and set index: hosts
	hosts = hosts[['Edition','NOC']].set_index('Edition')
	# Fix missing 'NOC' values of hosts
	print(hosts.loc[hosts.NOC.isnull()])
	hosts.loc[1972, 'NOC'] = 'FRG'
	hosts.loc[1980, 'NOC'] = 'URS'
	hosts.loc[1988, 'NOC'] = 'KOR'
	# Reset Index of hosts: hosts
	hosts=hosts.reset_index()
	# Reshape fractions_change: reshaped
	reshaped = pd.melt(fractions_change, id_vars='Edition', value_name='Change')
	# Extract rows from reshaped where 'NOC' == 'CHN': chn
	chn = reshaped.loc[reshaped['NOC']=='CHN']
	# Merge reshaped and hosts: merged
	merged = pd.merge(reshaped, hosts, how='inner')
	# Set Index of merged and sort it: influence
	influence = merged.set_index('Edition').sort_index()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 465)

**IMPORTING**

In [36]:
# open file
file_note = open('NOTEFR.txt', 'r')
print(file_note)
type(file_note)

file_note.read(1000)
print(file_note.read(1000))

<_io.TextIOWrapper name='NOTEFR.txt' mode='r' encoding='UTF-8'>

_io.TextIOWrapper

'Note Mémoire\n\nthis researcher has a lot of knowledge in his field\n\t\tCe chercheur a beaucoup de connaissance dans son domaine\nI would like to inform you of a mistake \n\t\tJe voudrais te signaler une erreur \nWho is the target group of this product\n\t\tQui est le groupe cible de ce produit\nThis behaviour is not normal\n\t\tCe comportement n’est pas normal\nThe workers are on strike\n\t\tLes ouvriers sont en grève\nThere’s a pile of books on the table\n\t\tIl y a un tas de livres sur la table\nShe’s part of the human rights association\n\t\tElle fait partie de la ligue des droits de l’homme\nThe demonstration lasted 3 days\n\t\tles manifestations ont duré 3 jours\nThey have eaten a third of the cake\n\t\tIls ont mangé un tiers du gâteau\nThere are thousands of inhabitants in this town\n\t\tIl y a des milliers d’inhabitants dans cette ville\nThe police commissioner was replaced by a younger man\n\t\tLe préfet de police a été remplacé par un homme plus jeune \nThe production of goods and services has increased\n\t\tLa production '

des biens et services a augmenté
Put your arms around my neck
		passez vos bras autour mon cou
I have to dash
		Je dois filer
This tree is rotten inside
		Cet arbre est pourri à l’intérieur
Take off your shoes
		Enlève tes chaussures
We are halfway there
		On a fait la moitié du chemin
If I could, I would do an easier job
		Si je pouvais, je ferais un travail plus facile
This book is no longer topical
		Ce livre n’est plus d’actualité
playground
		Le terrain du jeu
gunshots
		des coups de feu
The elected members discuss the big problems of society
		Les élus discutent des grands problèmes de société
This screening takes two hours
		Cette séance de cinéma dure deux heures
He has got problems with the police
		Il a des ennuis avec la police
This will attract him problems
		Cela lui attirera des ennuis
There is a lot of competition in this field
		Il y a beaucoup de concurrence dans ce domaine
Clear your bag
		Dégage ton sac
you are wrong
		Tu as tort (- tu as raison)
I live by a very wid

In [48]:


file_note.close()

with open('NOTEFR.txt') as file_note:
    print(file_note.readline())
    print(file_note.readline())
    print(file_note.readline())

Note Mémoire



this researcher has a lot of knowledge in his field

In [51]:
# importing FLAT files by numpy


filename = 'NOTEFR.txt'

data_notefr = np.loadtxt(filename, delimiter='\t', skiprows=5, usecols=[0,2], dtype=str)

IndexError: list index out of range

In [56]:
np.genfromtxt(fname, dtype=None)
np.recfromcsv(fname, dtype=None)
    # auto-import poly-type

NameError: name 'fname' is not defined

In [57]:
# DF TO NumArray
data =pd.read_csv(file, nrows=5, header=None)
data_array = data.values

NameError: name 'file' is not defined

In [58]:
# case
# Assign filename: file
file = 'titanic_corrupt.txt'
# Import file: data
data = pd.read_csv(file, sep='\t', comment='#', na_values='Nothing')
# Plot 'Age' variable in a histogram
pd.DataFrame.hist(data[['Age']])
plt.xlabel('Age (years)')
plt.ylabel('count')

FileNotFoundError: File b'titanic_corrupt.txt' does not exist

**Pickled files**

In [59]:
import pickle
with open('filename.pkl', 'rb') as file:
	data = pickle.load(file)
# Excel file via pandas
file = 'filename.xlsx'
data = pd.ExcelFile(file)
print(data.sheet_names)
df1 = data.parse('1960-1966')
	# sheet name as string
df2 = data.parse(0)
	# sheet index as float

FileNotFoundError: [Errno 2] No such file or directory: 'filename.pkl'

In [62]:
import os
wd = os.getcwd()

os.listdir(wd)

['DC_Stat_Thinking',
 'STATS_PROBA.ipynb',
 '.DS_Store',
 'trump_lies.csv',
 'MATPLOTLIB.ipynb',
 'test.csv',
 'BASIC.ipynb',
 'intro2stats',
 'seaborn-data',
 'cereal.csv',
 'REPO_Python',
 'WRANGLE.ipynb',
 'train.csv',
 '.ipynb_checkpoints',
 'Web-scrapping Trump Lies.ipynb',
 'NOTEFR.txt',
 'Jupyter_BASIC.ipynb',
 'ModSimPy-master']

In [ ]:
# Parse the first sheet and rename the columns: df1
df1 = xl.parse(0, skiprows=[0], names=['Country','AAM due to War (2002)'])
# Parse the first column of the second sheet and rename the column: df2
df2 = xl.parse(1, parse_cols=[0], skiprows=[1], names=['Country'])
	# KEY val passed must be list []

# SAS files
# Import sas7bdat package
from sas7bdat import SAS7BDAT
# Save file to a DataFrame: df_sas
with SAS7BDAT('sales.sas7bdat') as file:
    df_sas = file.to_data_frame()

# STATA
# Load Stata file into a pandas DataFrame: df
df = pd.read_stata('disarea.dta')
# Print the head of the DataFrame df
print(df.head())
# Plot histogram of one column of the DataFrame
pd.DataFrame.hist(df[['disa10']])
plt.xlabel('Extent of disease')
plt.ylabel('Number of coutries')

# HDF5 files 'Hierachical Data Format version 5'
# standard for storing big numerical up to exabytes
import h5py
filename = 'filename.hdf5'
data = h5py.File(filename, 'r')
for key in data.keys():
	print(key)
	# meta, quality, strain

# MatLab
import scipy.io
# Load MATLAB file: mat
mat = scipy.io.loadmat('albeck_gene_expression.mat')
print(mat.keys())
print(np.shape(mat['CYratioCyt']))

# Relational DB (PostgreSQL, MySQL, SQLite)
SQLite
from sqlalchemy import create_engine
engine = create_engine('sqlite:///Chinook.sqlite')
# Save the table names to a list: table_names
table_names = engine.table_names()
con = engine.connect()
rs = con.execute("SELECT * FROM Orders")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()
# OR save troube of closing via Context Manager
with engine.connect() as con:
	rs = con.execute("SELECT Order ID, OrderDate, ShipName FROM Orders")
	df = pd.DataFrame(rs.fetchmany(size=5))
	df.columns = rs.keys()
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Employee WHERE EmployeeID => 6")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()
# direct query
df = pd.read_sql_query("SELECT * FROM Orders", engine)
# check identity
print(df.equals(df1))
# joining
"INNER JOIN Customers on Orders.CustomerID = Customers.CustomerID"

# Accessing online files
from urllib.request import urlretrieve
url = "http://....csv"
urlretrieve(url, 'filename.csv')
# Read file into a DataFrame and print its head
df = pd.read_csv('filename.csv', sep=';')
print(df.head())

# read via pandas without saving
# skip urlretrieve()

# online excel
url = 'filename.xls'
xl = pd.read_excel(url, sheetname=None)
print(xl.keys())
print(xl['sheetname'].head())

# GET requests using urllib (slow)
from urllib.request import urlopen, request
url = 'https://www.wikipedia.org/'
request = Request(url)
response = urlopen(request)
html = response.read()
response.close()

# GET via Requests lib (fast)
import requests
url = '...'
r = requests.get(url)
text = r.text

# Scraping the web
from bs4 import BeautifulSoup
import requests
url = 'https://..'
r = requests.get(url)
html_doc = r.text
soup = BeautifulSoup(html_doc)
	# Prettified Soup
print(soup.title)
print(soup.get_text())
for link in soup.find_all('a'):
	# all the hyperlinks
	print(link.get('href'))
pretty_soup = soup.prettify()

# API and JSON (JS Object Notation)
# human-readable, key-val pairs, need for real-time server2browser comm
import json
with open('snake.json','r') as json_file:
	json_data = json.load(json_file)
	# type = Dict
for key, val in json_data.items():
	print(key+':',val)
# or
for k in json_data.keys():
	print(k + ': ', json_data[k])

json_data = r.json() # built-in
# API syntax
# http request, www.omdbapi.com - OMDB API addr., '?' = query string
# the rest is based on specific documentation
'http://www.omdbapi.com/?t=hackers' # title = hackers
import requests
url = 'http://www.omdbapi.com/?apikey=ff21610b&t=social+network'
# Package the request, send the request and catch the response: r
r = requests.get(url)
# Decode the JSON data into a dictionary: json_data
json_data = r.json()
# Print each key-value pair in json_data
for k in json_data.keys():
    print(k + ': ', json_data[k])
# wiki
url = 'https://en.wikipedia.org/w/api.php?action=query&prop=extracts&format=json&exintro=&titles=pizza'
pizza_extract = json_data['query']['pages']['24768']['extract']
# DoD

# Tweeter API (Public Stream)
import tweepy, json
access_token = '...'
access_token_secret = '...'
consumer_key = '...'
consumer_secret = '...'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

# Tweet listener return 'tweets.txt' collecting streams as json for 100 tweets
class MyStreamListener(tweepy.StreamListener):
	def __init__(self, api=None):
		super(MyStreamListener, self).__init__()
		self.num_tweets = 0
		self.file = open("tweets.txt", 'w')

	def on_status(self, status):
		tweet = status._json
		self.file.write(json.dumps(tweet) + '\n')
		self.num_tweets += 1
		if self.num_tweets < 100:
			return True 
		else:
			return False
		self.file.close()

	def on_error(self,status):
		print(status)

# create streaming object and auth
l = MyStreamListener()
stream = tweepy.Stream(auth, l)
# this line filters Streams to capture data by keywords:
stream.filter(track=['apples','oranges'])

# read the loaded txt
tweets_data_path = 'tweets.txt'
tweets_data = []
# open connection to file
tweets_file = open(tweets_data_path, 'r')
# read in tweets and store in list
for line in tweets_file:
	tweet = json.loads(line)
	tweets_data.append(tweet)
tweets_file.close()
# print the keys of the first tweet dict
print(tweets_data[0].keys())

# now tweets_data is a LoD containing tweets and features
# to convert into DF 
# feature 'text' and 'lang'
df = pd.DataFrame(tweets_data, columns=['text','lang'])

# analysis of words
import re
def word_in_text(word, tweet):
	word = word.lower()
	text = tweet.lower()
	match = re.search(word,tweet)

	if match:
		return True
	return False
 Initialize list to store tweet counts
[clinton, trump, sanders, cruz] = [0, 0, 0, 0]
# Iterate through df, counting the number of tweets in which
# each candidate is mentioned
for index, row in df.iterrows():
    clinton += word_in_text('clinton', row['text'])
    trump += word_in_text('trump', row['text'])
    sanders += word_in_text('sanders', row['text'])
    cruz += word_in_text('cruz', row['text'])
# Set seaborn style
sns.set(color_codes=True)
# Create a list of labels:cd
cd = ['clinton', 'trump', 'sanders', 'cruz']
# Plot histogram
ax = sns.barplot(cd, [clinton, trump,sanders,cruz])
ax.set(ylabel="count")
plt.show()

# recap
# importing txt, flat, others
# SQL queries + RDB
# scrapping web data via API/JSON

**CLEAN**

In [67]:
df = pd.read_csv('cereal.csv')
df.columns
df.info()
df.shape
df.head()
df.tail()

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
name        77 non-null object
mfr         77 non-null object
type        77 non-null object
calories    77 non-null int64
protein     77 non-null int64
fat         77 non-null int64
sodium      77 non-null int64
fiber       77 non-null float64
carbo       77 non-null float64
sugars      77 non-null int64
potass      77 non-null int64
vitamins    77 non-null int64
shelf       77 non-null int64
weight      77 non-null float64
cups        77 non-null float64
rating      77 non-null float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.7+ KB

(77, 16)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [69]:
df['name'].value_counts(dropna=False).head()

Golden Grahams                            1
Corn Chex                                 1
Fruit & Fibre Dates; Walnuts; and Oats    1
Shredded Wheat                            1
Crispy Wheat & Raisins                    1
Name: name, dtype: int64

In [70]:
df.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [82]:
"""
df.shelf.plot(kind='hist', rot=70, logx=True, logy=True)
df.boxplot(column='calories', by='mfr', rot=90)
df.plot(kind='scatter', x=...)

plt.xlim(20, 55)
plt.ylim(20, 55)
"""

"\ndf.shelf.plot(kind='hist', rot=70, logx=True, logy=True)\ndf.boxplot(column='calories', by='mfr', rot=90)\ndf.plot(kind='scatter', x=...)\n\nplt.xlim(20, 55)\nplt.ylim(20, 55)\n"

**PRINCIPLES OF TIDY DATA**

In [2]:
# MELTING into variable-oriented columns
pd.melt(frame=df, id_vars='name', 
	value_vars=['treatment a', 'treatment b'],
	var_name='treatment', value_name='result')
 Pivot - un-melting data
weather_tidy = weather.pivot(index='date',
	columns='element', values='value')
# this method cannot handle 'duplicate'
# instead, pivot table mehtod
weather2_tidy = weather.pivot_table(values='value',
	index='date', columns='element', 
	aggfunc=np.mean)
# turn this pivot table form into original
print(airquality_pivot.index)
	# Multi-index DF resulted from pivot_table
# reseting
airquality_pivot = airquality_pivot.reset_index()

# KEY, reporting data NOT analysing data
# DA requires features = INDE-EXOGENEITY, hence no levels of the same feature
# Melt tb: tb_melt
tb_melt = pd.melt(frame=tb, id_vars=['country', 'year'])
# Create the 'gender' column
tb_melt['gender'] = tb_melt.variable.str[0]
# Create the 'age_group' column
tb_melt['age_group'] = tb_melt.variable.str[1:]

# parsing delimited columns
# Melt ebola: ebola_melt
ebola_melt = pd.melt(ebola, id_vars=['Date', 'Day'], var_name='type_country', value_name='counts')
# Create the 'str_split' column
ebola_melt['str_split'] = ebola_melt.type_country.str.split('_')
# Create the 'type' column
ebola_melt['type'] = ebola_melt.str_split.str.get(0)
# Create the 'country' column
ebola_melt['country'] = ebola_melt.str_split.str.get(1)
	# 2 intermediate steps

# concatenating data from subsets
conc = pd.concat([dat1,dat2], ignore_index=True)
	# axis=0 'row-wise', axis=1 'column-wise'
# concat multiple files
import glob
csv_files = glob.glob('*.csv')
	# wildcard ending .csv
	# saved as list
list_data = []
for filename in csv_files:
	data = pd.read_csv(filename)
	list_data.append(data)
	# list of DF
pd.concat(list_data)
	# concat that list into single DF

# Write the pattern: pattern
pattern = '*.csv'
# Save all file matches: csv_files
csv_files = glob.glob(pattern)
# Load the second file into a DataFrame: csv2
csv2 = pd.read_csv(csv_files[1])
# Create an empty list: frames
frames = []
#  Iterate over csv_files
for csv in csv_files:
    #  Read csv into a DataFrame: df
    df = pd.read_csv(csv)
    # Append df to frames
    frames.append(df)
# Concatenate frames into a single DataFrame: uber
uber = pd.concat(frames)

# Merge = INNER JOIN in SQL
pd.merge(left=df1, right=df2, on=None,
	left_on='key_col', right_on='key_col1')
	# on=None as both keys differ
# Many2One - multiple entries per key
# same code, different DF results
print(m2m.head(20))

# Converting dtype
df['feature'] = df['feature'].astype(str)
df['feature'] = df['feature'].astype('category')
# cleaning numeric loaded as string due to non-num entries
df['numeric'] = pd.to_numeric(df['feature'], errors='coerce')

	# converting categorical data into 'category' saves RAM and utility in libraries

# clean strings by Regular Expression
import re
pattern = re.compile('\$\d*\.\d{2}')
result = pattern.match('$17.89')
prog = re.compile('\d{3}-\d{3}-\d{4}')
result = prog.match('123-456-7890')
print(bool(result))

# extracting numerical from string
# Find the numeric values: matches
matches = re.findall('\d+', 'the recipe calls for 10 strawberries and 1 banana')
	# '+' set finding multiple digits repeatable
# Print the matches
print(matches)

pattern1 = bool(re.match(pattern='\d{3}-\d{3}-\d{4}', string='123-456-7890'))
print(pattern1)
pattern2 = bool(re.match(pattern='\$\d*\.\d{2}', string='$123.45'))
print(pattern2)
pattern3 = bool(re.match(pattern='[A-Z]\w*', string='Australia'))
print(pattern3)

# complex cleaning via func
# apply func
df.apply(np.mean, axis=0)
	# 0 = byCol, 1 = byRow

# Define recode_sex()
def recode_sex(sex_value):
    # Return 1 if sex_value is 'Male'
    if sex_value == 'Male':
        return 1
    # Return 0 if sex_value is 'Female'    
    elif sex_value == 'Female':
        return 0
    # Return np.nan    
    else:
        return np.nan
# Apply the function to the sex column
tips['sex_recode'] = tips.sex.apply(recode_sex)

# Write the lambda function using replace
tips['total_dollar_replace'] = tips.total_dollar.apply(lambda x: x.replace('$', ''))
# Write the lambda function using regular expressions
tips['total_dollar_re'] = tips.total_dollar.apply(lambda x: re.findall('\d+\.\d+', x)[0])


# Dupicate and Missing Value

# Create the new DataFrame: tracks
tracks = billboard[['year','artist','track','time']]
# Drop the duplicates: tracks_no_duplicates
tracks_no_duplicates = tracks.drop_duplicates()

# Calculate the mean of the Ozone column: oz_mean
oz_mean = airquality['Ozone'].mean()
# Replace all the missing values in the Ozone column with the mean
airquality['Ozone'] = airquality['Ozone'].fillna(oz_mean)
tips_dropped = tips_nan.dropna()

# Check missing value with assert
assert google['Close'].notnull().all()
	# chaining methods
# fill missing value
google_0 = google.fillna(value=0)

# Assert that there are no missing values
assert pd.notnull(ebola).all().all()
# Assert that all values are >= 0
assert (ebola >= 0).all().all()


# All-in-all check func
def check_null_or_valid(row_data):
	"""takes a row, drops missing, check rest num>=0 """
	no_na = row_data.dropna()[1:-1]
		# assuming [0] is categorical data
	numeric = pd.to_numeric(no_na)
	ge0 = numeric >= 0
	return ge0
# check column 
assert g1800s.columns[0] == 'Life expectancy'
# check val in rows valid
assert g1800s.iloc[:,1:].apply(check_null_or_valid, axis=1).all().all()
# check singleton of country
assert g1800s['Life expectancy'].value_counts()[0] == 1
	# [0] specifies .value_counts() will contain the most frequently occuring value
	# for the list is sorted(desc), and [0] takes 1st value

# save csv
df.to_csv['filename.csv']

# Convert the year column to numeric
gapminder.year = pd.to_numeric(gapminder.year)
# Test if country is of type object
assert gapminder.country.dtypes == np.object
# Test if year is of type int64
assert gapminder.year.dtypes == np.int64
# Test if life_expectancy is of type float64
assert gapminder.life_expectancy.dtypes == np.float64

# text matching
# Create the series of countries: countries
countries = gapminder['country']
# Drop all the duplicates from countries
countries = countries.drop_duplicates()
# Write the regular expression: pattern
pattern = '^[A-Za-z\.\s]*$'
	# ^ begins $ ends = EXACT MATCH
# Create the Boolean vector: mask
mask = countries.str.contains(pattern)
# Invert the mask: mask_inverse
mask_inverse = ~mask
# Subset countries using mask_inverse: invalid_countries
invalid_countries = countries.loc[mask_inverse]

# visualising
# Add first subplot (segmenting tableau)
plt.subplot(2, 1, 1) # positioning
# Create a histogram of life_expectancy
gapminder.life_expectancy.plot(kind='hist')
# Group gapminder: gapminder_agg
gapminder_agg = gapminder.groupby('year')['life_expectancy'].mean()
# Add second subplot
plt.subplot(2, 1, 2)
# Create a line plot of life expectancy per year
gapminder_agg.plot()
# Add title and specify axis labels
plt.title('Life expectancy over the years')
plt.ylabel('Life expectancy')
plt.xlabel('Year')
# Display the plots
plt.tight_layout()
plt.show()
# Save both DataFrames to csv files
gapminder.to_csv('gapminder.csv')
gapminder_agg.to_csv('gapminder_agg.csv')
S

IndentationError: unexpected indent (<ipython-input-2-73f032a1bcc1>, line 5)

# File IO

- Read/Write Text
```python
    read_csv, read_table '\t', read_fwf, read_clipboard
    header=None, names=['columns'], index_col=list()
    skiprows = list(), sep = '\s\t', na_values=['NULL']
    parse_dates
    date_parse = function, nrows, chunksize, encoding
    # saving
    .to_csv(filename) or sys.stdout, sep='|', na_rep='NULL', index=False, header=False
    date = pd.date_range('1/1/2000', periods=7)
    Series(np.arange(7), index=dates)
    Series.from_csv(filename, parse_date=true)
```

- Read_CSV/READ_TABLE ARGUMENTS
    - path / sep / header / index_col / names (list of column names with header=None)
    - skiprows / na_values (sequence of values to repalce wtih NA) / comment (char to split)
    - parse_dates (attempt to parse data to datetime; False default, If True, parse all columns. Else can specify a list of column numers or name; if element of list is tuple or list, will combine multiple columns and parse e.g. if date/time split across two columns)
    - keep_date_col (if joining columns to parse date, drop the joined columns)
    - converters (dict having col number of name mapping to fuc, {'foo': f} apply f to all values in 'foo' col)
    - dayfirst (ambiguous dates, treat as international format)
    - date_parser (fuc to use parse dates)
    - nrows (number of rows to read from start)
    - iterator (return a TextParser obj for reading file piecemeal)
    - chunksize (for iteration, size of file chunks)
    - skip_footer (lines to ignore at end) / verbose / encoding / squeeze (if parsed data only one col return a Series / thousands (sep for 000 , or .)

```python
    chunker = pd.read_csv(filename, chunksize=1000)
    tot = Series([])
    for piece in chunker:
        tot = tot.add(piece['key'].value_counts(), fill_value=0)
    tot = tot.order(ascending=False)

    # WRITE
    data.to_csv(filename or sys.stdout, sep='|', na_rep='NULL', index=False, header=False, cols=['a', 'c'])
    dates = pd.date_range('1/1/2000', periods=7)
    ts = Series(np.arange(7), index=dates)
    ts.to_csv(filename)
    # with wrangling, no header, 1st col as index, can read CSV of Series with read_csv but also from_csv easier
    Series.from_csv(filename, parse_dates=True)
    # Manual reading
    import csv # open file
    reader = csv.reader(f)
    for line in reader:
        print line
    lines = list(csv.reader(f))
    header, values = lines[0], lines[1:]
    data_dict = {h: v for h, v in zip(header, zip(*values))}
    # CSV reader defined
    class my_dialect(csv.Dialect):
        lineterminator = '\n'
        delimitor = ';'
        quotechar = '"'
    reader = csv.reader(f, dialect=my_dialect) 
    reader = csv.reader(f, delimiter='|') # override
    # CSV dialect options
    delimiter, lineterminator, quotechar, quoting, skiinitialspace, doublequote, escapechar
    # JSON
    import json
    result = json.loads(obj)
    asjson = json.dumps(result) # python to JSON
    siblings = DataFrame(result['siblings'], columns=['names', 'age']) # JSON to DF
    # Binary pickle serialisation
    frame.save(pickle); pd.load(pickle)
    # HDF5 binart form API : PyTables and h5py, pandas uses PyTables to store pandas obj
    sotre = pd.HDFStore('mydata.h5')
    sotre['obj1'] = frame
    sotre['obj1_col'] = frame['a']
    # many problems are IO-bound (not CPU-bound) HDF5 massively accelerating, used for WRITE-ONCE, USE-MANY
    # EXCEL
    xls_file = pd.ExcelFile('data.xls')
    table = xls_file('Sheet1') # sheet to DF
    # HTTP API
    import requests
    resp = requests.get(url)
    data = json.loads(resp.text)
    data.keys() # each as DICT
    fields = ['col1', 'col2']
    df = DataFrame(data['results'], columns = fields)
    # DB
    import sqlite3
    query = """ CREATE TABLE test (a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER);"""
    con = sqlite3.connect(':memory:')
    con.execute(query)
    con.commit()
    data = [ ('Atlanta', 'Georgia', 1.25, 6), ... ]
    stmt = "INSERT INTO test VALUES(?, ?, ?, ?)
    con.executemany(stmt, data)
    con.commit()
    cursor = con.execute('select * from test') # return list of tuples 
    rows = cursor.fetchall()
    DataFrame(rows, columns=zip(*cursor.description)[0]) # important
    import pandas.io.sql as sql # saving processing code
    sql.read_frame('select * from test', con)
    # MongoDB dict-like obj basic unit
    import pymongo
    con = pymongo.Connection('localhost', port=27017)
    tweets = con.db.tweets # making collections
    data = json.loads(requests.get(url).text)
    for tweet in data['results']:
        tweets.save(tweet)
    cursor = tweets.find( {'from_user': 'wesmckinn'} ) # get from collection query
    tweet_fields = ['created_at', 'from_user', 'id', 'text']
    result = DateFrame(list(cursor), columns=tweet_fileds)
```

# Wrangling (clean, transform, merge, reshape)
- Combining / Merging
```python
    pandas.merge # connect rows per key
    pandas.concat # glues / stacks obj along axis
    combine_first # splicing overlapping data to fill missing
```

- DB style Merges
```python
    df1 = DataFrame('key': ['vaues'], 'data1': range(7)})
    df2 # range 3
    # Many to One merge
    pd.merge(df1, df2) # many take over with 0 filled
    pd.merge(df1, df2, on='key') # overlapping col as keys 
    df3 # different columns
    pd.merge(df3, df4, left_on='lkey', right_on='rkey') # retaining both
    pd.merge(df1, df2, how='outer') # default is INNER, OUTER is UNION
    # Many to Many joins Cartesian product of rows, only affects distinct key
    pd.merge(left, right, on=['key1', 'key2'], how='outer')
    # Whick ey to join? depending on choice of merge method, think of multiple keys as forming an array of tuples used as single join key, though not actually done so
    # joining col-col indexes on passed DF are discarded !!
    pd.merge(left, right, on='key1', suffixes=('_left', '_right'))
```

- Merging Index
```python
    pd.merge(left1, right1, left_on='key', right_index=True) # index used as merge key
    left2.join(right2, how='outer') # easy instance for joining by index 
```

- Concatenating Along Axis
```python
    np.concatenate( [arr, arr], axis=1 ) # NumPy done on arrays
    # pandas object havinglabeled axes enable further generalise array concat - if indexed differently on other axes, should collection axes union or intersected? do groups need ID in resul? does concat axis matter at all?
    pd.concat( [s1, s2, s3] ) # glues values and indexes
    pd.concat([s1, s4], axis=1, join='inner') # if no overlap on other axis (from sorted union of 'outer'), can intersect
    pd.concat([s1, s4], axis=1, join_axes=[ ['a','c'] ])
    # instead for hierarchical index on axis
    result = pd.concat([s1, s2, s3], keys=['one','two','three']) # each retain own index
    result.unstack() # combined and fill NaN
    [objs, axis, join, keys, levels, names, verify_integratiy, ignore_index]
```

- Combining Overlaps
```python
    b[:-2].combine_first(a[2:]) # col by col pacthing missing data 
    # reshaping and pivoting
    # STACK - ROTATES or pivot from col to row
    # UNSTACK - pivot from rows to col
    # DEFAULT innermost level is unstacked or stacked, different level arg
    result.unstack(0); result.unstakc('column')
    data2.unstack().stack(dropna=False) # keeping nan
    # LONG or Stacked format to store multi-time series
    # datetime often as PRIMARY KEY in DB, BUT not easy to work in LONG format, might prefer DF having one col per distinct ITEM value by timestamps in DATE col, hence PIVOT method 
    pivoted = longdata.pivot('date', 'item', 'value') # first two args are columns as ROW and COL INDEX, last optional arg to FILL DF; omitting VALUE will get HIERARCHIAL COLUMNS of values cols
    # Note: pivot = easy creating hierarchical index using set_index + unstack
    unstacked = longdata.set_index(['date', 'item']).unstack('item')
```

- Data Transformation
```python
    # Removing Dupe
    df.duplicated() # boolean Series of ROW-wise dupe test
    df.drop_duplicates() # dropping True above
    df.drop_duplicates( ['col1', 'col2'], take_last=True) # return last one
    # Func or Mapping
    df['animal'] = df['food'].map(str.lower).map(meat_to_animal) # 
    df['food'].map(lambda x: meat_to_animal[x.lower()]) # equivalent
    # Replacing value
    df.replace(-999, np.nan)
    df.repalce([-999, -1000], [np.nan, o]) # different per value
    df.repalce( {-999 : np.nan, -1000 : 0} ) # or as dict
    # Renameing Axis Indexes
    df.index = df.index.map(str.upper) # need in-place mod
    df.rename(index = str.title, columns = str.upper) # without mod original via rename
    df.rename(index = {'OHIO' : 'INDIANA'}, columns = {'three' : 'peekaboo'}) # dict of values, !! rename saves having to copy DF manually and assign to its index, should mod data inplace
    _ = df.rename(..., inplace=True) # mod original
    # Discretizaiton and Binning
    df_binned = pd.cut(df, bins) # bins = [10, 20, ... ] as CATEGORICAL special dtype
    df_binned.labels ; df_binned.levels
    pd.value_count(df_binned) # useful
    pd.cut(df, bins, labels=group_names, right=False) # define group names per bin and () is exc and [] inc
    pd.cut(df, 4, precision = 2) # cut integer # of bins up to 2-digit
    pd.qcut(df, 4) # cut into quartiles
    pd.qcut(df, [0, 0.1, 0.5, 0.9, 0.1]) # self-defined quantiles o and 1 inclusive
    # Detecing and Filtering Outliers
    df[(np.abs(df) > 100).any(1)] # select all rows exceeding 100
    df[np.abs(df) > 3] = np.sign(data) * 3 
    # Permutation and Random Sampling
    sampler = np.random.permutation(5)
    # Dummy
    pd.get_dummies(df['cat'], prefix = 'key')
    df_dummied = df[ ['df1'] ].join(dummies)
    pd.get_dummies(pd.cut(values, bins)) # useful
    # String Manuipulation
    [count, endswith, startswith, join, index, find, rfind, repalce, strip, rstrip, lstrip, split, lower, ljust]
```
- GROUP and REDUCTION
```python
    df['data1'].groupby([df['key1'], df['key2']]).mean()
    hier_df.groupby(level = 'cty', axis=1).count() # group by index levels
    grouped['data1'].quantile(0.9)
    grouped.agg(reduction_Func) # very useful !
    people.groupby(key).transform(np.mean) # note use of transform and np.mean method
    df.groupby('smoker').apply(func) # func applied to each piece of DF, then glued by concat, labeling pieces with group names !! hence hierarchical index whose inner level contains index values from original F
    df.groupby(['smoker', 'day']).apply(func, n=1, column='total_bill') # specify arguments
    # Examples
    result = df.groupby('smoker')['col'].describe() 
    result.unstack('smoker') # transpose index and col !!
    df.groupby('smoker', group_keys=False).apply(lambda x: x.max()) # disable hierarchical index from group keys along with indexes of each piece
    df.col1.groupby(pd.cut(df.data1, 4)).apply(func).unstack() # cool?
    group_key = ['East'] * 4 + ['West'] * 4; data[['some sstaetes']] = np.nan; 
        data.groupby(group_key).mean() or .apply(lambda g: g.fillna(g.mean());
```

# TIME SERIES

In [19]:
from datetime import datetime
now = datetime.now();
now.year, now.month, now.day # sotres both date and time down to microsecond
# temporal diff
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8 ,15)
delta.days, delta.seconds

from datetime import timedelta

datetime(2011, 1, 7) - 2 * timedelta(12) 

# Converting String and Datetime !
    # pandas use Timestamp obj 
stamp = datetime(2011, 1, 3)
str(stamp), stamp.strftime('%Y-%m-%d')

value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

# Formatted as strings using str or strftime with spec

# Same format codes can be sued to convert strings to dates using datetime.strptime

# DATETIME.STRPTIME is the best way to parse date with known format. BUT annoying to write spec, so 

from dateutil.parser import parse

parse('2011-01-03')

parse('Jan 31, 1997 10:45 PM')

parse('6/12/2011', dayfirst=True)

# PANDAS is generally geared towards arrays of dates, soit axis index soit column in DataFrame

import pandas as pd

pd.to_datetime(datestrs) # parse many kinds of date quickly

idx = pd.to_datetime(datestrs + [None]) # hanndle missing
idx
idx[2]
pd.isnull(idx)

(2018, 11, 16)

(926, 56700)

datetime.datetime(2010, 12, 14, 0, 0)

('2011-01-03 00:00:00', '2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

datetime.datetime(2011, 1, 3, 0, 0)

datetime.datetime(1997, 1, 31, 22, 45)

datetime.datetime(2011, 12, 6, 0, 0)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

NaT

array([False, False,  True])

### Datetime forsmat specs
- %Y  4-digit year
- %y  2-digit year
- %m  2-digit month
- %d  2-digit day
- %H  hour
- %I  12-hour clock
- %M  2-digit min
- %S  second
- %w  weekday as integer
- %U  week number of year Sunday as first day of week
- %W  week number Monday first
- %z  UTC time zone offset as +HHMM or -HHMM empty if timezone naive
- %F  short for %Y-%m-%d
- %D  short for %m/%d/%y

### Locale-spec formating
- %a  abbre weekday name
- %A  full weekday name
- %b  abbre month name
- %B  full month name
- %c  full date time
- %p  locale equi-am or pm
- %x  locale-proper formatted date
- %X  locale-proper time

In [25]:
# Basic
from pandas import Series, DataFrame
import numpy as np


dates =  [datetime(2011,1,2), datetime(2011,1, 5), 
                           datetime(2011,1, 7), datetime(2011,1, 8),  datetime(2011,1,10),  datetime(2011,1,12)]

ts = Series(np.random.randn(6), index=dates)
ts
type(ts)
ts.index # Il faut PAS use TimeSeries explicitly, when creating Series with DateTimeIndex, pandas knows

ts + ts[::2] # diff-indexed time series automatically align on the dates !!

ts.index.dtype

ts.index[0] # Timestamp obj, used for datetime obj
ts[ts.index[2]] 
ts['1/10/2011'], ts['20110110']


long_ts = Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
long_ts[:5]
long_ts['2001'][:5], long_ts['2001-05'][:5]

ts[datetime(2011,1,7):] # slicing with dates works justl ike regular Series as most TS data ordered 

ts['1/6/2011':'1/11/2011']

2011-01-02    1.188368
2011-01-05    0.313255
2011-01-07    0.026741
2011-01-08    1.310502
2011-01-10   -1.039549
2011-01-12    0.430944
dtype: float64

pandas.core.series.Series

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

2011-01-02    2.376735
2011-01-05         NaN
2011-01-07    0.053481
2011-01-08         NaN
2011-01-10   -2.079099
2011-01-12         NaN
dtype: float64

dtype('<M8[ns]')

Timestamp('2011-01-02 00:00:00')

0.026740595502435946

(-1.0395494687011155, -1.0395494687011155)

2000-01-01    1.755024
2000-01-02    0.983606
2000-01-03   -0.165140
2000-01-04    0.195253
2000-01-05   -0.030057
Freq: D, dtype: float64

(2001-01-01    0.052687
 2001-01-02   -0.501179
 2001-01-03    0.433831
 2001-01-04    0.905362
 2001-01-05    0.336581
 Freq: D, dtype: float64, 2001-05-01    0.788311
 2001-05-02    0.665669
 2001-05-03    0.021811
 2001-05-04    0.531980
 2001-05-05   -1.313512
 Freq: D, dtype: float64)

2011-01-07    0.026741
2011-01-08    1.310502
2011-01-10   -1.039549
2011-01-12    0.430944
dtype: float64

2011-01-07    0.026741
2011-01-08    1.310502
2011-01-10   -1.039549
dtype: float64

In [47]:
# Passing any of string date / datetime / Timestamp; slicing = VIEW equivalent to truncate
ts.truncate(after='1/9/2011')

dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

long_df = DataFrame(np.random.randn(100, 4), index=dates, columns=['Colorado', 'Taxas', 'NY', 'Ohio'])
long_df.loc['5-2001']

# DUPLICATE INDICES

ts.index.is_unique # if not False

ts_grouped = ts.groupby(level=0) # aggregate data having non-unique timestamps

ts_grouped.mean(), ts_grouped.count()


# DATE RANGE, FREQUENCIES, SHIFTING

ts.resample('D') # is it a timestamp thing?

index = pd.date_range('4/1/2012', '6/1/2012') # 
index
    # default daily timestamps
pd.date_range(start='4/1/2012', periods=20)
pd.date_range(end='6/1/2012', periods= 20)
    # disintct bounds 

pd.date_range('1/1/2000', '12/1/2000', freq='BM') # business end of month

pd.date_range('/5/2/2012 12:56:31', periods=5)

pd.date_range('5/2/2012 12:56:31', periods=5, normalize=True) # normed to midngiht

2011-01-02    1.188368
2011-01-05    0.313255
2011-01-07    0.026741
2011-01-08    1.310502
dtype: float64

            Colorado     Taxas        NY      Ohio
2001-05-02 -0.639555 -1.087885  1.324169 -0.110692
2001-05-09  0.410760  0.072771  0.852234  0.550670
2001-05-16 -0.065198 -0.066211 -0.857632  0.415574
2001-05-23 -0.559778  0.940752 -1.531608 -0.682450
2001-05-30  0.467056 -1.483246  0.066533 -1.725065

True

(2011-01-02    1.188368
 2011-01-05    0.313255
 2011-01-07    0.026741
 2011-01-08    1.310502
 2011-01-10   -1.039549
 2011-01-12    0.430944
 dtype: float64, 2011-01-02    1
 2011-01-05    1
 2011-01-07    1
 2011-01-08    1
 2011-01-10    1
 2011-01-12    1
 dtype: int64)

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [49]:
# FREQUENCIES AND DATE OFFSETS

from pandas.tseries.offsets import Hour, Minute

hour = Hour() # base frequency and multiplier
hour

four_hours = Hour(4) # multiple of offset 
four_hours

pd.date_range('1/1/2000', '1/3/2000 23:59', freq='4h') # never above, instead like so in FREQ

Hour(2) + Minute(30)

pd.date_range('1/1/2000', periods=10, freq='1h30min') # frequency strings

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

### Base Time Series Frequencies
- D   day calendar daily
- B   businessday 
- H   hour
- T   (or min) minute
- S  
- L   (or ms) mili
- U   micro
- M   month end
- BM   lastbusines day
- MS   month begin
- BMS   first weekday of month
- W-MON   etc, weekly on given day of week
- WOM-1MON   week of month , WOM-3FRI = 3rd Friday of each month
- Q-JAN   quater end
- BQ-JAN   quartelry dates anchored on last weekday
- A-JAN   year end
- BA-JAN   biz year end
- AS-JAN   year begin
- BAS-JAN   annual dates anchored on first weekday of given month businesswise-

In [54]:
# Week of month dates
rng = pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI')

list(rng) # traders of US equity options wil recog these dates as standarddates of monthly expiry

# SHIFTING (LEADING AND LAGGING)
ts = Series(np.random.randn(4), index=pd.date_range('1/1/2000', periods=4, freq='M'))

ts, ts.shift(2), ts.shift(-2) # common use for computing pct chnage

ts / ts.shift(1) - 1 # naive shift leaves index unmod some data discarded, thus if freq known, can pass to advance 

ts.shift(2, freq='M')

ts.shift(1, freq='3D') 

ts.shift(1, freq='90T')

from pandas.tseries.offsets import Day, MonthEnd

now = datetime(2011, 11, 17)

now + 3 * Day()

now + MonthEnd()

now + MonthEnd(2)

offset = MonthEnd()

offset.rollforward(now)

offset.rollback(now) # anchored offsets roll dates using

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

(2000-01-31    1.349511
 2000-02-29    1.197860
 2000-03-31    1.047459
 2000-04-30   -0.522432
 Freq: M, dtype: float64, 2000-01-31         NaN
 2000-02-29         NaN
 2000-03-31    1.349511
 2000-04-30    1.197860
 Freq: M, dtype: float64, 2000-01-31    1.047459
 2000-02-29   -0.522432
 2000-03-31         NaN
 2000-04-30         NaN
 Freq: M, dtype: float64)

2000-01-31         NaN
2000-02-29   -0.112375
2000-03-31   -0.125558
2000-04-30   -1.498762
Freq: M, dtype: float64

2000-03-31    1.349511
2000-04-30    1.197860
2000-05-31    1.047459
2000-06-30   -0.522432
Freq: M, dtype: float64

2000-02-03    1.349511
2000-03-03    1.197860
2000-04-03    1.047459
2000-05-03   -0.522432
dtype: float64

2000-01-31 01:30:00    1.349511
2000-02-29 01:30:00    1.197860
2000-03-31 01:30:00    1.047459
2000-04-30 01:30:00   -0.522432
Freq: M, dtype: float64

Timestamp('2011-11-20 00:00:00')

Timestamp('2011-11-30 00:00:00')

Timestamp('2011-12-31 00:00:00')

Timestamp('2011-11-30 00:00:00')

Timestamp('2011-10-31 00:00:00')

In [59]:
# Clever use of date offsets is to use with groupby
ts = Series(np.random.randn(20), index=pd.date_range('1/15/2000', periods=20, freq='4d'))

ts.groupby(offset.rollforward).mean()

ts.resample('M').mean() # EASIER FASTER way

2000-01-31    0.257064
2000-02-29    0.244444
2000-03-31   -0.091533
dtype: float64

2000-01-31    0.257064
2000-02-29    0.244444
2000-03-31   -0.091533
Freq: M, dtype: float64

In [70]:
# Time Zone
import pytz

pytz.common_timezones[-5:]

tz = pytz.timezone('US/Eastern')
tz # accpet either tie zone names or object, just name

# Localisation and Conversion
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = Series(np.random.randn(len(rng)), index=rng)

print(ts.index.tz)

pd.date_range('3/9/2012 9:30', periods = 10, freq='D', tz='UTC')
ts_utc = ts.tz_localize('UTC') # conversion for naive to localised 
ts_utc
ts_utc.index
ts_utc.tz_convert('US/Eastern')

ts_eastern = ts.tz_localize('US/Eastern') # could localise to EST and convert to UTC
ts_eastern.tz_convert('UTC')
ts.index.tz_localize('Asia/Shanghai') # both are alsoe instance mehtods on DatetimeIndex

# AWARE TIMESTAMP OBJ
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('US/Eastern') 
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

stamp_utc.value

# 30 minutes before 
stamp + Hour()

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

None

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

2012-03-09 09:30:00+00:00    0.009380
2012-03-10 09:30:00+00:00   -1.934166
2012-03-11 09:30:00+00:00    0.116831
2012-03-12 09:30:00+00:00   -0.222390
2012-03-13 09:30:00+00:00    1.165559
2012-03-14 09:30:00+00:00   -0.898233
Freq: D, dtype: float64

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

2012-03-09 04:30:00-05:00    0.009380
2012-03-10 04:30:00-05:00   -1.934166
2012-03-11 05:30:00-04:00    0.116831
2012-03-12 05:30:00-04:00   -0.222390
2012-03-13 05:30:00-04:00    1.165559
2012-03-14 05:30:00-04:00   -0.898233
Freq: D, dtype: float64

2012-03-09 14:30:00+00:00    0.009380
2012-03-10 14:30:00+00:00   -1.934166
2012-03-11 13:30:00+00:00    0.116831
2012-03-12 13:30:00+00:00   -0.222390
2012-03-13 13:30:00+00:00    1.165559
2012-03-14 13:30:00+00:00   -0.898233
Freq: D, dtype: float64

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

Timestamp('2011-03-11 23:00:00-0500', tz='US/Eastern')

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

1299902400000000000

Timestamp('2011-03-12 05:00:00')

In [87]:
# PERIOD ARITHMETIC
import pandas as pd


p = pd.Period('2007', freq='A-DEC')
p

p + 5, p - 2

values = ['2001Q3', '2002Q2', '2003Q1']

index = pd.PeriodIndex(values, freq='Q-DEC')
index

p.asfreq('M', how='start')
p.asfreq('M', how='end') # freq conversion

rng = pd.period_range('2006', '2009', freq='A-DEC')

ts = Series(np.random.randn(len(rng)), index=rng)

ts

ts.asfreq('M', how='start')

# Quarterly Period freq

p = pd.Period('2012Q4', freq='Q-JAN')
p
p.asfreq('D', 'start')

# e.g. get timestamp at 4PM on 2nd to last BD of the Q
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

# Generating Q ranges the same
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')

ts = Series(np.arange(len(rng)), index=rng)

ts

new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

ts.index = new_rng.to_timestamp()

ts

Period('2007', 'A-DEC')

(Period('2012', 'A-DEC'), Period('2005', 'A-DEC'))

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

Period('2007-01', 'M')

Period('2007-12', 'M')

2006   -1.457623
2007   -0.414635
2008    0.963312
2009   -1.262272
Freq: A-DEC, dtype: float64

2006-01   -1.457623
2007-01   -0.414635
2008-01    0.963312
2009-01   -1.262272
Freq: M, dtype: float64

Period('2012Q4', 'Q-JAN')

Period('2011-11-01', 'D')

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int64

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int64

In [93]:
# Converting Timestamps to Periods
rng = pd.date_range('1/1/2000', periods=3, freq='M')
ts = Series(np.random.randn(3), index=rng)
pts = ts.to_period()
ts, pts

rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = Series(np.random.randn(6), index=rng)
ts2.to_period('M')

pts = ts.to_period()
pts
pts.to_timestamp(how='end')
pts

(2000-01-31   -0.538384
 2000-02-29    1.286765
 2000-03-31   -0.252885
 Freq: M, dtype: float64, 2000-01   -0.538384
 2000-02    1.286765
 2000-03   -0.252885
 Freq: M, dtype: float64)

2000-01   -1.895860
2000-01    1.796974
2000-01   -0.495974
2000-02   -0.820071
2000-02   -0.136071
2000-02    0.177865
Freq: M, dtype: float64

2000-01   -0.538384
2000-02    1.286765
2000-03   -0.252885
Freq: M, dtype: float64

2000-01-31   -0.538384
2000-02-29    1.286765
2000-03-31   -0.252885
Freq: M, dtype: float64

2000-01   -0.538384
2000-02    1.286765
2000-03   -0.252885
Freq: M, dtype: float64

In [112]:
# Creating a PeridIndex from Arrays

from statsmodels.datasets import macrodata

data = macrodata.load_pandas()
data = data.data

In [115]:
data.year[:5], data.quarter[:5]

index = pd.PeriodIndex(year=data.year, quarter=data.quarter, freq='Q-DEC') # passing these arrays to PeriodIndex with a freq to combin an index for DF
index

data.index = index

data.infl

(0    1959.0
 1    1959.0
 2    1959.0
 3    1959.0
 4    1960.0
 Name: year, dtype: float64, 0    1.0
 1    2.0
 2    3.0
 3    4.0
 4    1.0
 Name: quarter, dtype: float64)

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
1960Q2    0.14
1960Q3    2.70
1960Q4    1.21
1961Q1   -0.40
1961Q2    1.47
1961Q3    0.80
1961Q4    0.80
1962Q1    2.26
1962Q2    0.13
1962Q3    2.11
1962Q4    0.79
1963Q1    0.53
1963Q2    2.75
1963Q3    0.78
1963Q4    2.46
1964Q1    0.13
1964Q2    0.90
1964Q3    1.29
1964Q4    2.05
1965Q1    1.28
1965Q2    2.54
1965Q3    0.89
1965Q4    2.90
1966Q1    4.99
1966Q2    2.10
          ...
2002Q2    1.56
2002Q3    2.66
2002Q4    3.08
2003Q1    1.31
2003Q2    1.09
2003Q3    2.60
2003Q4    3.02
2004Q1    2.35
2004Q2    3.61
2004Q3    3.58
2004Q4    2.09
2005Q1    4.15
2005Q2    1.85
2005Q3    9.14
2005Q4    0.40
2006Q1    2.60
2006Q2    3.97
2006Q3   -1.58
2006Q4    3.30
2007Q1    4.58
2007Q2    2.75
2007Q3    3.45
2007Q4    6.38
2008Q1    2.82
2008Q2    8.53
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64

In [117]:
# Resampling and Frequency Conversion 
# Aggregtaing hier feq to lower is downsampling, inversely upsampling

rng = pd.date_range('1/1/2000', periods=100, freq='D')

ts = Series(np.random.randn(len(rng)), index=rng)
ts.resample('M').mean()
ts.resample('M', kind='period').mean()

# resample is flexible and high-perforamce mehotd used to process very large TS

2000-01-31    0.140221
2000-02-29   -0.000831
2000-03-31   -0.083460
2000-04-30    0.727592
Freq: M, dtype: float64

2000-01    0.140221
2000-02   -0.000831
2000-03   -0.083460
2000-04    0.727592
Freq: M, dtype: float64

### Resample Method Arguments
- freq string or dateoffset indicating desired freq
- how='mean' func name or array func making value 'mean', 'ohlc', np.max, 'first', last, median
- axis=0 axis to resample on
- fill_method=None how to interpolate when upsampling 'ffill' bfill'
- clsed='right' in downsampling, which end of each interval is closed
- label='right' in downing, how to label aggre result
- loffset=None time adjustmentto bin labels such as '-1s'
- limit=None when forward or back filing, max number of periods to fill
- kind=None aggr periods 'peroid' or timestamps'timestaamps
- convention=None when resampling erpoids convetions start or end

In [128]:
# Downsampling
rng = pd.date_range('1/1/2000', periods=12, freq='T')
ts = Series(np.arange(12), index=rng)
ts
ts.resample('5min').sum()

ts.resample('5min', closed='left').mean()

ts.resample('5min', closed='left', label='left').mean()

ts.resample('5min', loffset='-1s').mean()

ts.resample('5min').ohlc() # Open-High-Low-Close four values

ts.groupby(lambda x: x.month).mean()
ts.groupby(lambda x: x.weekday).mean()

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int64

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int64

2000-01-01 00:00:00     2.0
2000-01-01 00:05:00     7.0
2000-01-01 00:10:00    10.5
Freq: 5T, dtype: float64

2000-01-01 00:00:00     2.0
2000-01-01 00:05:00     7.0
2000-01-01 00:10:00    10.5
Freq: 5T, dtype: float64

1999-12-31 23:59:59     2.0
2000-01-01 00:04:59     7.0
2000-01-01 00:09:59    10.5
Freq: 5T, dtype: float64

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

1    5.5
dtype: float64

5    5.5
dtype: float64

In [129]:
# Time Series Plotting
'''close = pd.read_csv(file, parse_dates=True, index_col=0)
close = close[['APPL']]
close = close.resample('B', fill_method='ffill')'''

# pd.rolling_mean(close, 250).plot()

# define expanding mean in rolling
# expanding_mean = lambda x: rolling_mean(x, len(x), min_periods=1)

"close = pd.read_csv(file, parse_dates=True, index_col=0)\nclose = close[['APPL']]\nclose = close.resample('B', fill_method='ffill')"

### Moving Window and Exp weighted func
- rolling_count returns num of non_NA obser in each trailing window
- rolling_sum moving window sum
- rolling_mean moving window mean
- rolling_median 
- rolling_var
- rolling_std
- rolling_skew
- rolling_min
- rolling_quantile
- rolling_corr
- rolling_cov
- rolling_apply apply generic array func over a moving window
- ewma expoential--weight moving average
- ewmvar
- ewmstd
- ewmcorr
- ewmcov

### Other Time Series Examples in FinEcon

```python
    prices.align(volume, join='inner')
    # different indexed serise
    DataFrame( {'one':s1, 'two':s2, 'three':s3}, index=list('abc'))
    ts1.resample('B', fill_method='ffill')
    rng = pd.date_range('2012-06-01 09:30', '2012-06-01 15:59', freq='T')
    rng = rng.append([rng + pd.offsets.BDay(i) for i in range(1, 4)])
    ts = Series(np.arange(len(rng), dtype=float), index=rng)
    ts[time(10, 0)]
    ts.at_time(time(10, 0))
    ts.between_time(time(10, 0), time(10, 1))
    indexer = np.sort(np.random.permutation(len(ts))[700:])
    irr_ts = ts.copy()
    irr_ts[indexer] = np.nan
    irr_ts['2012-06-01 09:50' : '2012-06-01 10:00']
    irr_ts.asof(pd.date_range('2012-06-01 10:00', periods=4, freq='B'))
    # switching from one data source to another at specific point in time
    # patching missing in ts at begining, midle or end using antoher time series
    # completely repalcing data for a subset of symbols 
    spliced = pd.concat( [data1.loc[:'2012-06-14'], date2.loc['2012-06-15':]])
    
```

# Advanced NumPy
- inside ndarray: 
    1. pointer to data block of memory
    2. data type or dtype
    3. tuple of shape
    4. strides or step (C order, 3 x 4 x 5 array of float64 => 160, 40, 9)
- Dtype Hierarchy

In [155]:
np.ones(10, dtype=np.uint16)
np.float64.mro() # parent classese of specif dtype

arr = np.arange(8)
arr.ravel()
arr.flatten()

arr = np.arange(12).reshape((3,4))
arr
arr.ravel()
arr.ravel('F')

arr = np.arange(3)
arr.repeat(3)
arr.repeat([2,3,4])

arr = np.arange(10) * 100
inds = [7 , 1, 2, 6]
arr[inds]

arr.take(inds)

arr.put(inds, 42)
arr
arr.put(inds, [40, 41, 42, 43])

# 3D array and to demean axis-2
arr = np.random.randn(3, 4, 5)
arr
depth_means = arr.mean(2)
depth_means
demeaned = arr - depth_means[:, :, np.newaxis]
demeaned.mean(2)

# Same broadcasting rule governing arithmetic operations alsoe applies to setting values via arrray indexing 
arr =np.zeros((4, 3))
arr[:] = 5
arr
col = np.array([1.28, -0.42, 0.44, 1.6])
arr[:] = col[:, np.newaxis]
arr
arr[:2] = [[-1.37], [0.509]]
arr

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=uint16)

[numpy.float64,
 numpy.floating,
 numpy.inexact,
 numpy.number,
 numpy.generic,
 float,
 object]

array([0, 1, 2, 3, 4, 5, 6, 7])

array([0, 1, 2, 3, 4, 5, 6, 7])

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

array([ 0,  4,  8,  1,  5,  9,  2,  6, 10,  3,  7, 11])

array([0, 0, 0, 1, 1, 1, 2, 2, 2])

array([0, 0, 1, 1, 1, 2, 2, 2, 2])

array([700, 100, 200, 600])

array([700, 100, 200, 600])

array([  0,  42,  42, 300, 400, 500,  42,  42, 800, 900])

array([[[ 1.31154256,  1.99379374,  0.77039495,  0.36458795,
          0.12549787],
        [ 0.34454258,  0.17207022, -1.23042637,  0.1318841 ,
          0.40378059],
        [-1.09019235, -0.29280908, -0.51573333,  1.52229317,
         -0.54518269],
        [ 0.33469729, -1.64628257, -0.65118491, -1.91055421,
         -0.38778737]],

       [[-1.38474643, -1.09323791, -0.1676661 ,  1.11112204,
          1.90544239],
        [ 1.49031506, -0.07640619, -0.53539701,  1.2747054 ,
         -0.97363284],
        [ 0.53476783, -0.10980149,  1.36915008,  0.78058609,
         -0.13143435],
        [-0.30247655,  1.13734837, -1.01472368, -0.78595544,
         -1.79714398]],

       [[-1.31471734, -0.77588119,  0.21530978, -0.45232531,
         -1.61386856],
        [-1.08154781, -0.69287944, -0.29117042, -0.23483119,
         -0.72436936],
        [-1.89085229, -0.47793184, -0.27766927,  0.13672821,
          0.3926533 ],
        [ 1.25400424, -1.02945757, -0.04133799, -1.28378372,
         -1.10741507]]])

array([[ 0.91316341, -0.03562978, -0.18432486, -0.85222235],
       [ 0.0741828 ,  0.23591688,  0.48865363, -0.55259026],
       [-0.78829652, -0.60495965, -0.42341438, -0.44159802]])

array([[ 8.88178420e-17,  2.22044605e-17, -2.22044605e-17,
        -1.33226763e-16],
       [-4.44089210e-17, -4.44089210e-17,  0.00000000e+00,
         0.00000000e+00],
       [-1.11022302e-16, -1.11022302e-17, -1.11022302e-16,
         8.88178420e-17]])

array([[5., 5., 5.],
       [5., 5., 5.],
       [5., 5., 5.],
       [5., 5., 5.]])

array([[ 1.28,  1.28,  1.28],
       [-0.42, -0.42, -0.42],
       [ 0.44,  0.44,  0.44],
       [ 1.6 ,  1.6 ,  1.6 ]])

array([[-1.37 , -1.37 , -1.37 ],
       [ 0.509,  0.509,  0.509],
       [ 0.44 ,  0.44 ,  0.44 ],
       [ 1.6  ,  1.6  ,  1.6  ]])

In [169]:
# Advacned ufunc usage : 
arr = np.arange(10)
arr
np.add.reduce(arr)
arr.sum()

arr = np.random.randn(5, 5)
arr
arr[::2].sort(1) 
arr[:, :-1] < arr[:, 1:]

np.logical_and.reduce(arr[:, :-1] < arr[:, 1:], axis=1)

arr = np.arange(15).reshape((3,5))

np.add.accumulate(arr, axis=1)
arr = np.arange(3).repeat([1, 2, 2])

arr
np.multiply.outer(arr, np.arange(5))

result = np.subtract.outer(np.random.randn(3,4), np.random.randn(5))

result.shape


arr = np.arange(10)
np.add.reduceat(arr, [0, 5, 8])

arr = np.multiply.outer(np.arange(4), np.arange(5))
arr
np.add.reduceat(arr, [0, 2, 4], axis=1)

# custom ufuncs
def add_elements(x,y):
    return x+y
add_them = np.frompyfunc(add_elements, 2, 1)
add_them(np.arange(8), np.arange(8))


add_them = np.vectorize(add_elements, otypes=[np.float64])
add_them(np.arange(8), np.arange(8))

arr = np.random.randn(10000)
%timeit add_them(arr, arr)
%timeit np.add(arr, arr)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

45

45

array([[ 0.1152765 , -0.95106854,  0.93735221, -0.11047933, -1.11633504],
       [ 1.88595961,  1.36151629, -1.43444323,  0.2071479 , -1.12641314],
       [ 1.47518677, -1.33484591,  0.88124331, -0.28778382, -1.78494483],
       [-0.38073419, -0.14440296,  0.24930142,  0.34310015, -0.98660859],
       [-0.93676498, -0.28959674,  0.6272069 ,  1.01480108,  0.10753883]])

array([[ True,  True,  True,  True],
       [False, False,  True, False],
       [ True,  True,  True,  True],
       [ True,  True,  True, False],
       [ True,  True,  True,  True]])

array([ True, False,  True, False,  True])

array([[ 0,  1,  3,  6, 10],
       [ 5, 11, 18, 26, 35],
       [10, 21, 33, 46, 60]])

array([0, 1, 1, 2, 2])

array([[0, 0, 0, 0, 0],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 2, 4, 6, 8],
       [0, 2, 4, 6, 8]])

(3, 4, 5)

array([10, 18, 17])

array([[ 0,  0,  0,  0,  0],
       [ 0,  1,  2,  3,  4],
       [ 0,  2,  4,  6,  8],
       [ 0,  3,  6,  9, 12]])

array([[ 0,  0,  0],
       [ 1,  5,  4],
       [ 2, 10,  8],
       [ 3, 15, 12]])

array([0, 2, 4, 6, 8, 10, 12, 14], dtype=object)

array([ 0.,  2.,  4.,  6.,  8., 10., 12., 14.])

4.58 ms ± 706 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
6.58 µs ± 306 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

### Performance Tips
- array typically replace otherwise slow pure pythnon loops
- convert Phyton loops and conditional logic to array operaitons and boolean array opertions
- use broadcasting as possible !
- avoid copying data using array views (slicing)
- use UFUNCS and UFUNCS methods

### Cython